// Herman Utilities
// ================


// Json
// ----
$json: ();


// String Replace
// --------------
/// Return a string, with a substring replaced
/// @group utility
/// @access private
@function str-replace(
  $string,
  $old,
  $new: null,
  $replace-all: false
) {
  $return: $string;
  $i: str-index($string, $old);
  $n: str-length($old);

  @if $string == $old {
    $return: $new;
  } @else if $i {
    $a: if($i > 1, str-slice($string, 1, $i - 1), '');
    $z: str-slice($string, $i + $n);

    @if $replace-all {
      $z: str-replace($z, $old, $new, true);
    }

    $return: $a + if($new, $new, '') + $z;
  }

  @return $return;
}


// Map Compile
// -----------
/// Get output values from a sass map,
/// using any function for compilation.
/// @access private
@function herman-map-compile(
  $map,
  $function,
  $args...
) {
  $output: ();

  @each $name, $value in $map {
    @if function-exists($function) {
      $value: call($function, $name, $args...);
    }

    $value: inspect($value);

    @if str-index($value, '"') {
      $value: str-replace($value, '"', '\\"', true);
    }

    $output: map-merge($output, ($name: $value));
  }

  @return $output;
}


// Herman Colors
// -------------
/// Combine Accoutrement Color maps,
/// adding them to both Accoutrement config
/// and a `$json` map for exporting to Herman.
/// @group utility
@mixin herman-colors(
  $maps
) {
  @each $name, $value in $maps {
    $colors: map-merge($colors, $value) !global;
    $compiled: herman-map-compile($value, 'color');
    $json: map-merge($json, ($name: $compiled)) !global;
  }
}


// Herman Sizes
// ------------
/// Combine Accoutrement Size maps,
/// adding them to both Accoutrement config
/// and a `$json` map for exporting to Herman.
/// @group utility
@mixin herman-sizes(
  $maps
) {
  @each $name, $value in $maps {
    $sizes: map-merge($sizes, $value) !global;
    $compiled: herman-map-compile($value, 'size', 'px');
    $json: map-merge($json, ($name: $compiled)) !global;
  }
}


// Herman Ratios
// -------------
/// Combine Accoutrement Ratio maps,
/// adding them to both Accoutrement config
/// and a `$json` map for exporting to Herman.
/// @group utility
@mixin herman-ratios(
  $maps
) {
  @each $name, $value in $maps {
    $ratios: map-merge($ratios, $value) !global;
    $json: map-merge($json, ($name: $value)) !global;
  }
}


// Herman Fonts
// ------------
/// Combine Accoutrement Font maps,
/// adding them to both Accoutrement config
/// and a `$json` map for exporting to Herman.
/// @group utility
@mixin herman-fonts(
  $maps...
) {
  @each $font in $maps {
    @each $name, $value in $font {
      $fonts: map-merge($fonts, $font) !global;
      $json: map-merge($json, $font) !global;
    }
  }
}
