// Export Sass to JSON
// ===================

@import '../node_modules/sass-json-export/stylesheets/sass-json-export';
@import 'utilities';
@import 'config/manifest';

@include json-encode($herman, comment);
