// Forms
// =====

@use '~accoutrement/sass/tools';

::placeholder {
  color: currentColor;
  opacity: 0.5;
}

input {
  border: 1px solid tools.color('border-light');
  color: inherit;
  font-size: tools.size('search');
  margin-bottom: tools.size('half-shim');
  padding: tools.size('quarter-shim') tools.size('half-shim');
  width: 100%;

  &:focus {
    border-color: currentColor;
    outline: 0;
  }
}
