// Forms
// =====


::placeholder {
  color: currentColor;
  opacity: 0.5;
}


input {
  border: 1px solid color('border-light');
  color: inherit;
  font-size: size('search');
  margin-bottom: size('half-shim');
  padding: size('quarter-shim') size('half-shim');
  width: 100%;

  &:focus {
    border-color: currentColor;
    outline: 0;
  }
}
