// Tooltip Styles
// ==============


// Style a tooltip panel
.herman-tooltip {
  @include contrasted('background');
  @include position(0 null null 0);
  @include z-index('overlay');
  font-size: size('xxsmall');
  transform: translateY(-85%);
  visibility: hidden;
  white-space: normal;
  width: auto;
  // break long urls into multiple lines
  word-break: break-word;

  #{$focus} {
    visibility: visible;
  }
}

.tooltip-label {
  color: color('action');
  cursor: pointer;
  font-size: size('xxsmall');

  #{$focus} {
    color: color('focus');

    + .herman-tooltip {
      visibility: visible;
    }
  }
}
