// Typography Patterns
// ===================


// Text Blocks
// -----------
/// There are some typographic elements
/// that can't be applied globally,
/// but will be generated in markdown-rendered html-text blocks.
/// The `text-block` class can be used to provide
/// max line-length and other typographic features --
/// headings, blockquotes, lists, code, emphasis, etc.
///
/// @group style-typography
///
/// @example html
///   <div class="text-block">
///     <h1>HTML Ipsum Presents</h1>
///
///     <p><strong>Pellentesque habitant morbi tristique</strong> senectus et netus et malesuada fames ac turpis egestas. Vestibulum tortor quam, feugiat vitae, ultricies eget, tempor sit amet, ante. Donec eu libero sit amet quam egestas semper. <em>Aenean ultricies mi vitae est.</em> Mauris placerat eleifend leo. Quisque sit amet est et sapien ullamcorper pharetra. Vestibulum erat wisi, condimentum sed, <code>commodo vitae</code>, ornare sit amet, wisi. Aenean fermentum, elit eget tincidunt condimentum, eros ipsum rutrum orci, sagittis tempus lacus enim ac dui. <a href="#">Donec non enim</a> in turpis pulvinar facilisis. Ut felis.</p>
///
///     <h2>Header Level 2</h2>
///
///     <ol>
///        <li>Lorem ipsum dolor sit amet, consectetuer adipiscing elit.</li>
///        <li>Aliquam tincidunt mauris eu risus.</li>
///     </ol>
///
///     <blockquote>
///       <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
///       <cite>—Anonymous</cite>
///     </blockquote>
///
///     <h3>Header Level 3</h3>
///
///     <ul>
///        <li>Lorem ipsum dolor sit amet, consectetuer adipiscing elit.</li>
///        <li>Aliquam tincidunt mauris eu risus.</li>
///     </ul>
///
///     <pre><code>#header h1 a {
///     display: block;
///     width: 300px;
///     height: 80px;
///   }</code></pre>
///   </div>
.text-block {
  max-width: 80ch;

  h1,
  h2,
  h3,
  h4 {
    color: color('text');
    color: var(--color-text, color('text'));

    a {
      #{$link} {
        text-decoration-color: transparent;
      }

      #{$focus} {
        text-decoration-color: currentColor;
      }
    }

    + h2,
    + h3 {
      margin-top: 0;
    }
  }

  h1 {
    font-size: size('h1');
    margin-bottom: size('shim');
  }

  h2,
  h3 {
    margin-top: size('gutter-plus');
  }

  > h2,
  > h3 {
    &:first-child {
      margin-top: 0;
    }
  }

  h2 {
    font-size: size('h2');
    margin-bottom: size('shim');
  }

  h3 {
    font-size: size('h3');
    font-weight: normal;
    margin-bottom: size('shim');
  }

  p,
  pre {
    margin-bottom: size('gutter-minus');
  }

  ol,
  ul {
    margin: 0 size('gutter') size('gutter-minus');
  }

  li {
    > p {
      margin: size('shim') 0;
    }
  }

  blockquote {
    border-left: size('half-shim') solid color('border');
    border-left-color: var(--color-border, color('border'));
    font-size: size('quote');
    margin-left: negative('gutter');
    padding-left: size('shim') + size('half-shim');

    > p {
      &:not(:last-child) {
        text-indent: -0.4em;

        @include wrap-content {
          color: color('theme-dark');
        }
      }
    }

    cite {
      display: block;
      font-size: size('reset');
      font-style: normal;
    }
  }
}


// Invert Colors
// -------------
/// Invert the colors of a block, creating a light-on-dark area.
///
/// @group style-typography
/// @require {mixin} invert-colors
///
/// @example html
///   <div class="invert-colors" style="padding: 1em;">
///     You shall sojourn at <a href="#">Paris, Rome, and Naples</a>.
///   </div>
.invert-colors {
  @include invert-colors;
}
