// Typography Styles
// =================


/// Style a block of rendered html-text,
/// with line-length and typographic styles.
/// @group typography
.text-block {
  max-width: 90ch;

  h1,
  h2,
  h3,
  h4 {
    color: color('black');
    margin-bottom: size('shim');
  }

  h1 {
    font-size: size('h2');
  }

  h2 {
    font-size: size('h3');
  }

  p {
    margin: size('gutter') 0;
  }

  ol,
  ul {
    margin: size('shim') size('gutter') size('gutter');
  }
}
