*.css.map
*.DS_Store
*.js.map
*.log
*.orig
*~
.cache/
.env
.eslintcache
.livereload
.npm
.nyc_output/
.sass-cache/
dist/
docs/
coverage/
node_modules/
npm-debug.log*
test/js/dest/

dist/webpack/app_styles.min.js
dist/webpack/iframe_styles.min.js
dist/webpack/styleguide_json*

!.vscode/

# Yarn
yarn-debug.log*
yarn-error.log*
.yarn-integrity
.yarn/*
!.yarn/cache
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions
