*.css.map
*.js.map
*.log
*.orig
*~
.babelrc.js
.browserslistrc
.cache/
.circleci/
.env
.eslintcache
.eslintignore
.eslintrc.yml
.gitignore
.livereload
.npm
.nyc_output/
.prettierrc
.sass-cache/
.sass-lint.yml
.yarn-integrity
appveyor.yml
assets/
fonts/
gulpfile.js
jscov/
npm-debug.log*
postcss.config.js
sass-json-loader.js
templates/client/
test/
webpack.config.js
yarn-debug.log*
yarn-error.log*
yarn.lock

dist/webpack/app_styles.min.js
dist/webpack/styleguide_json*

scss/*
!scss/utilities/
!scss/_utilities.scss
