*.css.map
*.js.map
*.log
*.orig
*~
.browserslistrc
.cache/
.circleci/
.env
.eslintcache
.eslintignore
.eslintrc.yml
.github/
.gitignore
.livereload
.npm
.nvmrc
.nyc_output/
.nycrc
.pnp.js
.prettierignore
.prettierrc.yml
.sass-cache/
.stylelintignore
.stylelintrc.yml
.vscode/
.yarn-integrity
.yarn/
.yarnrc.yml
__mocks__/
appveyor.yml
assets/
babel.config.js
codecov.yml
coverage/
fonts/
jest.config.js
npm-debug.log*
postcss.config.js
sass-json-loader.js
sassdoc-webpack-plugin.js
scripts/
templates/client/
test/
webpack.config.js
yarn-debug.log*
yarn-error.log*
yarn.lock

dist/webpack/app_styles.min.js
dist/webpack/iframe_styles.min.js
dist/webpack/styleguide_json*

scss/*
!scss/utilities/
!scss/_utilities.scss
