environment:
  matrix:
    - nodejs_version: '10'
    - nodejs_version: 'LTS'
    - nodejs_version: 'Current'

install:
  - ps: Install-Product node $env:nodejs_version
  - appveyor-retry yarn

test_script:
  - SET PATH=.\node_modules\.bin;%PATH%
  - node --version
  - yarn --version
  - mocha --timeout=10000 ".\test\js\*.js"

build: off
skip_branch_with_pr: true
