// Ratio & Size Samples
// ====================


/// ## Documenting ratios and sizes
///
/// In addition to documenting [colors][color-preview],
/// you can use Herman to document and display ratios and sizes.
/// In the end, Herman will need a map
/// converted to JSON --
/// but we'll start with individual ratios/sizes,
/// and build the export from there.
///
/// [color-preview]: demo_colors.html
///
/// Let's start with a ratio and two sizes:
///
/// ```
/// $herman-ratio: 1.4;
/// $root: 18px;
/// $xlarge: 28px;
/// ```
///
/// @group demo_sizes


$herman-ratio: 1.4;
$root: 18px;
$xlarge: 28px;


/// ## Preview ratios
///
/// In order to export our ratios and sizes to Herman,
/// we'll want to combine them into maps
/// of name/value pairs.
/// Sass does not provide any shortcuts for automating this step,
/// or removing the duplication.
///
/// Create as many maps as you like
/// to organize different types of ratios/sizes --
/// text, spacing, patterns, etc.
/// Each map will be displayed individually,
/// using the `@preview ratios` and `@preview sizes` annotations:
///
/// ```
/// // @preview ratios
/// ```
///
/// The `ratios` preview accepts an optional `count` argument (defaults to `6`) --
/// the number of ratio calculations to display,
/// up to a maximum of `10`.
///
/// ```
/// // @preview ratios; count: 4
/// ```
///
/// @preview ratios
/// @group demo_sizes
$demo-ratios: (
  'herman-ratio': $herman-ratio
);


/// ## Preview sizes
///
/// ```
/// // @preview sizes
/// ```
///
/// The `sizes` preview accepts an optional `style` argument (defaults to `text`),
/// which specifies the type of output to display:
///
/// - `text`: Displays a sentence of lorem-ipsum text at the given size.
/// - `ruler`: Displays a pattern of shapes spaced at the given size.
/// - `output-only`: Displays calculated sizes only.
///
/// ```
/// // @preview sizes; style: ruler
/// ```
///
/// @preview sizes
/// @group demo_sizes
$demo-sizes: (
  'root': $root,
  'xlarge': $xlarge
);


/// ## Add ratio/size data to $herman
///
/// In order to preview the `$demo-ratios` and `$demo-sizes` maps,
/// we need to export the data to JSON.
/// That's a two-step process:
/// first building the export-map,
/// and then creating a sass file to do the actual export.
/// We provide shortcuts to help with both.
///
/// Use the `herman-add` mixin to add individual data maps
/// to the global export map.
///
/// ```
///  @include herman-add('ratios', 'demo-ratios', $demo-ratios);
///  @include herman-add('sizes', 'demo-sizes', $demo-sizes);
/// ```
///
/// - The first argument tells Herman what type of data is being added --
///   in this case `ratios` or `sizes`.
///   Herman will organize the output JSON into subgroups by type.
/// - The second argument sets a `key` name
///   for accessing this particular group of ratios or sizes.
/// - The third argument provides the actual map of data
///   to be added to the `$herman` export map.
///
/// The result is an export map that looks like this:
///
/// ```scss
/// $herman: (
///   'ratios': (
///     'demo-ratios': (
///       'herman-ratio': 1.4,
///     ),
///   ),
///   'sizes': (
///     'demo-sizes': (
///       'root': '18px',
///       'xlarge': '28px',
///     ),
///   ),
/// );
/// ```
///
/// You can also build that map by hand, if you prefer.
///
/// [See the size/ratio map documentation for details »][size-docs]
///
/// [size-docs]: http://oddbird.net/herman/docs/api_json-export.html#sizes-ratios
///
/// @see $herman
/// @see herman-add
/// @group demo_sizes
/// @link http://oddbird.net/accoutrement-scale Accoutrement-Scale
@include herman-add('ratios', 'demo-ratios', $demo-ratios);
@include herman-add('sizes', 'demo-sizes', $demo-sizes);
