@use '../utilities';

// Ratio & Size Samples
// ====================

/// # Documenting ratios & sizes
///
/// Herman provides custom annotations
/// for visualizing sizes and ratios,
/// along with other design tokens.
/// See the [`sass.jsonFile` configuration][json]
/// to ensure that Herman has access
/// to your exported Sass data.
///
/// [json]: https://www.oddbird.net/herman/docs/configuration#sass-jsonfile
///
/// In addition to documenting colors and fonts,
/// you can use Herman to document and display ratios and sizes.
/// In the end, Herman will need a map --
/// but we'll start with individual ratios/sizes,
/// and build the export from there.
///
/// [color-preview]: https://www.oddbird.net/herman/docs/demo_colors
///
/// Let's start with a ratio and two sizes:
///
/// ```scss
/// $line-height-ratio: 1.4;
/// $root: 18px;
/// $xlarge: 3rem;
/// ```
///
/// @group demo_sizes

$line-height-ratio: 1.4;
$root: 18px;
$xlarge: 3rem;

/// ## Preview ratios
///
/// In order to export our ratios to Herman,
/// we'll want to combine them into maps
/// of name/value pairs.
/// Sass does not provide any shortcuts for automating this step,
/// or removing the duplication,
/// but you can use a tool like our [Accoutrement][ac]
/// to store and access ratios
/// directly in a Herman-friendly map.
///
/// [ac]: https://www.oddbird.net/accoutrement/
///
/// ```scss
/// $demo-ratios: (
///   'line-height': $line-height-ratio
/// );
/// ```
///
/// Create as many maps as you like
/// to organize different types of ratios --
/// text, spacing, etc.
/// Each map will be displayed individually,
/// using the `@ratios` annotation:
///
/// ```scss
/// /// @ratios my-ratios
/// ```
///
/// The `@ratios` annotation accepts an optional one-word key argument,
/// which defaults to the map-variable name.
/// That key will be used to access the data from JSON,
/// so it doesn't matter what key is used,
/// as long as the key given here matches the group-name
/// used when adding this data to `$herman`.
///
/// @ratios
/// @group demo_sizes
$demo-ratios: (
  'line-height': $line-height-ratio,
);

/// ## Preview sizes
///
/// Similar to ratios,
/// sizes can be combined into any number of maps
/// to preview with Herman.
/// you can build these maps out of existing variables,
/// or use a tool like our [Accoutrement][ac]
/// to store and access sizes
/// directly in a Herman-friendly map.
///
/// [ac]: https://www.oddbird.net/accoutrement/
///
/// ```scss
/// $demo-sizes-text: (
///   'root': $root,
///   'xlarge': $xlarge
/// );
/// ```
///
/// Each map will be displayed individually,
/// using the `@sizes` annotation:
///
/// ```scss
/// /// @sizes {ruler}
/// ```
///
/// The `@sizes` annotation accepts two optional arguments:
///
/// - An optional one-word key argument,
///   which defaults to the map-variable name.
///   That key will be used to access the data from JSON,
///   so it doesn't matter what key is used,
///   as long as the key given here matches the group-name
///   used when adding this data to `$herman`.
/// - An optional `style` argument (in curly-brackets `{...}`),
///   defaulting to `text`,
///   which specifies the type of output to display:
///
///   - `text`: Displays a sentence of lorem-ipsum text for each given size.
///   - `ruler`: Displays horizontal bars of the given sizes.
///   - `ruler-large`: Displays horizontal bars --
///     each on their own line, for more visible space.
///   - `output-only`: Displays values only, without demonstration.
///
/// @group demo_sizes
$demo-sizes-text: (
  'root': $root,
  'responsive': calc(1.5em + 1vw),
  'xlarge': $xlarge,
);
$demo-sizes-theme: (
  'icon': 1rem,
  'card': 30vw,
  'quote': 50%,
  'outline': thin,
  'border': medium,
  'separator': thick,
);
$demo-sizes-large: (
  'box': 20em,
  'page': 75ch,
);

/// ### Text Sizes
/// ```scss
/// /// @sizes demo-sizes-text {text}
/// ```
/// @sizes demo-sizes-text {text}
/// @group demo_sizes

/// ### Rulers
/// ```scss
/// /// @sizes demo-sizes-theme {ruler}
/// ```
/// @sizes demo-sizes-theme {ruler}
/// @group demo_sizes

/// ### Large Rulers
/// ```scss
/// /// @sizes demo-sizes-large {ruler-large}
/// ```
/// @sizes demo-sizes-large {ruler-large}
/// @group demo_sizes

/// ### Name/Value Only
/// ```scss
/// /// @sizes demo-sizes-text {output-only}
/// ```
/// @sizes demo-sizes-text {output-only}
/// @group demo_sizes

/// ## Add ratio/size data to $herman
///
/// In order to preview the `$demo-ratios` and `$demo-sizes-*` maps,
/// we also need to [export the data to JSON][export].
///
/// You can add data to the `$herman` export-map by hand,
/// or use the provided `add` mixin
/// to combine existing maps into the proper structure.
/// [See the size/ratio map documentation for details »][size-docs]
///
/// ```scss
///  @include add('ratios', 'demo-ratios', $demo-ratios);
///  @include add('sizes', 'demo-sizes-text', $demo-sizes-text);
///  @include add('sizes', 'demo-sizes-theme', $demo-sizes-theme);
///  @include add('sizes', 'demo-sizes-large', $demo-sizes-large);
/// ```
///
/// If your map needs to be parsed or compiled before export,
/// you can pass additional compilation functions and arguments to `add`.
/// Once your data is all stored in the `$herman` map,
/// it can be converted to JSON using `export`.
///
/// [export]: https://www.oddbird.net/herman/docs/api_json-export
/// [size-docs]: https://www.oddbird.net/herman/docs/api_json-export#sizes-ratios
///
/// @see $herman
/// @see add
/// @see export
/// @group demo_sizes
/// @link https://www.oddbird.net/accoutrement Accoutrement
@include utilities.add('ratios', 'demo-ratios', $demo-ratios);
@include utilities.add('sizes', 'demo-sizes-text', $demo-sizes-text);
@include utilities.add('sizes', 'demo-sizes-theme', $demo-sizes-theme);
@include utilities.add('sizes', 'demo-sizes-large', $demo-sizes-large);
