// Section Arrow
// =============


/// # Herman Section-Arrow Component
/// @group style-sections


/// Apply a top-border with centered down-arrow triangle,
/// for use as a section-divider.
/// @group style-sections
/// @parameter {color | string} $color ['theme-dark'] -
///   The color of the border/arrow line
/// @parameter {color | string} $background ['background'] -
///   The background color above the border/arrow,
///   used to make it an arrow-outline rather than a solid triangle
/// @example scss
///   [data-styleguide='section-arrow'] {
///     @include section-arrow;
///   }
/// @example html
///   <header data-sassdoc-region="banner"></header>
@mixin section-arrow(
  $color: 'theme-dark',
  $background: 'background'
) {
  border-bottom: size('arrow-border') solid color($color);
  display: block;
  position: relative;
  width: 100%;

  @include wrap-content('') {
    border: size('arrow-depth') solid transparent;
    border-top-color: color($color);
    border-width: size('arrow-depth') size('arrow-side') 0;
    left: 50%;
    position: absolute;
    top: 100%;
    transition: border-width 200ms;
  }

  @include before('') {
    margin-top: size('arrow-border');
    transform: translateX(-50%) translateY(-2px);
  }

  @include after('') {
    border-top-color: color($background);
    transform: translateX(-50%) translateY(-4px);
  }
}
