// Section Arrow
// =============
/// # Herman Banner Region
/// Styles related to the top banner in generated Herman docs.
/// @group style-banner

// Banner Arrow
// ------------
/// Apply a bottom-border with centered down-arrow triangle,
/// for use as a divider between the banner and main content.
///
/// @group style-banner
///
/// @parameter {color | string} $color ['theme-dark'] -
///   The color of the border/arrow line
/// @parameter {color | string} $background ['background'] -
///   The background color above the border/arrow,
///   used to make it an arrow-outline rather than a solid triangle
///
/// @example scss
///   [data-region='banner'] {
///     @include banner-arrow;
///   }
/// @example html
///   <header data-region="banner">
///     Hello World
///   </header>
@mixin banner-arrow($color: 'theme-dark', $background: 'background') {
  border-bottom: size('arrow-border') solid color($color);
  box-shadow: 0 2px 2px color('shadow');
  display: block;
  position: relative;
  width: 100%;

  @include wrap-content('') {
    border: size('arrow-depth') solid transparent;
    border-top-color: color($color);
    border-width: size('arrow-depth') size('arrow-side') 0;
    left: 50%;
    position: absolute;
    top: 100%;
    transition: border-width 200ms;
  }

  @include before('') {
    margin-top: size('arrow-border');
    transform: translateX(-50%) translateY(-2px);
  }

  @include after('') {
    border-top-color: color($background);
    transform: translateX(-50%) translateY(-4px);
  }
}
