@use "abstracts";

// Color Settings
// ==============

/// # Herman Config: Color Palettes
/// This page contains documentation of the colors used by Herman.
/// We use OddBird's [Accoutrement][ac] Color plugin
/// to store and manage colors directly in Sass map objects.
///
/// [ac]: https://www.oddbird.net/accoutrement/
///
/// For help documenting your brand colors,
/// see the "[Documenting Colors][colors]" page.
///
/// [colors]: demo_colors.html
/// @group config-colors
/// @link https://www.oddbird.net/accoutrement/docs/
///   Accoutrement

// Brand Colors
// ------------
/// We use bright primary colors for the main brand,
/// everything else is based on these colors.
/// These are based on the OddBird brand colors,
/// but using a darker shade of the OddBird pink.
///
/// These colors should be assigned to semantic theme-specific names
/// before they are used in styling patterns and components.
///
/// @colors
/// @group config-colors
///
/// @type map
/// @prop {Color | String | List} '<color-name>' -
///   Each `<color-name>` key can be assigned a color
///   or previously-defined key,
///   followed by an optional map of adjustments
///   (as defined in
///   [Accoutrement](https://www.oddbird.net/accoutrement/docs/)).
$brand-colors: (
  'brand-orange': hsl(24, 100%, 39%),
  'brand-blue': hsl(195, 85%, 35%),
  'brand-pink': hsl(330, 85%, 48%)
    (
      'shade': 25%,
    ),
);

@include abstracts.add('colors', 'brand-colors', $brand-colors);

// Neutral Colors
// --------------
/// Use these neutral colors
/// to create structure and hierarchy in the document.
/// These colors should be assigned to semantic theme-specific names
/// before they are used in styling patterns and components.
///
/// @colors
/// @group config-colors
$neutral-colors: (
  'light-gray': '#brand-blue'
    (
      'tint': 80%,
      'desaturate': 80%,
    ),
  'gray': '#brand-blue'
    (
      'desaturate': 80%,
    ),
  'contrast-light': #fff,
  'contrast-dark': '#brand-blue'
    (
      'shade': 30% #000,
      'desaturate': 80%,
    ),
);

@include abstracts.add('colors', 'neutral-colors', $neutral-colors);

// Theme Colors
// ------------
/// Rather than directly accessing and adjusting
/// the explicitly named (e.g. "pink" or "gray")
/// brand and neutral colors,
/// we assign them to semantic theme-specific names.
/// These are the colors that should be used
/// in our pattern/component styles.
///
/// @colors
/// @group config-colors
$theme-colors: (
  'theme-dark': '#brand-blue',
  'theme-light': '#brand-blue'
    (
      'tint': 80%,
    ),
  'background': '#contrast-light',
  'text': '#contrast-dark',
  'text-light': '#gray',
  'action': '#brand-pink',
  'focus': '#theme-dark',
  'underline': '#action'
    (
      'tint': 75%,
    ),
  'border': '#gray',
  'border-light': '#light-gray',
  'shadow': '#gray'
    (
      'rgba': 0.5,
    ),
  'callout': '#theme-light',
  'slight': '#callout'
    (
      'tint': 90%,
    ),
  'code': '#theme-dark',
  'code-shadow': '#code'
    (
      'rgba': 0.2,
    ),
);

@include abstracts.add('colors', 'theme-colors', $theme-colors);
