// Color Settings
// ==============

@import '../../node_modules/mathsass/dist/math';
@import '../../node_modules/accoutrement-color/sass/color';


// Brand Colors
// ------------
/// We use bright primary colors for the main brand,
/// everything else is based on these colors.
/// @preview color-palette
/// @group colors
/// @prop {Color | String | List} '<color-name>' -
///   Each `<color-name>` key can be assigned a color,
///   another key, and an optional map of adjustments.
/// @link http://oddbird.net/accoutrement-color/sassdoc/
///   Accoutrement Color
/// @example
///   // @preview color-palette
///   @include herman-add-colors('brand-colors', $brand-colors);
$brand-colors: (
  'brand-orange': hsl(24, 100%, 39%),
  'brand-blue': hsl(195, 85%, 35%),
  'brand-pink': hsl(330, 85%, 48%),
);

@include herman-add-colors('brand-colors', $brand-colors);


// Neutral Colors
// --------------
/// Use these neutral colors
/// to create structure and hierarchy in the document.
/// @preview color-palette
/// @group colors
/// @link http://oddbird.net/accoutrement-color/sassdoc/
///   Accoutrement Color
/// @example
///   // @preview color-palette
///   @include herman-add-colors('neutral-colors', $neutral-colors);
$neutral-colors: (
  'light-gray': 'brand-blue' ('tint': 80%, 'desaturate': 80%),
  'gray': 'brand-blue' ('desaturate': 80%),
  'black': 'brand-blue' ('shade': 65%),
);

@include herman-add-colors('neutral-colors', $neutral-colors);


// Status Colors
// -------------
/// These status colors for UI elements
/// give a quick sense of progress, warning, or errors.
/// @preview color-palette
/// @group colors
/// @link http://oddbird.net/accoutrement-color/sassdoc/
///   Accoutrement Color
/// @example
///   // @preview color-palette
///   @include herman-add-colors('status-colors', $status-colors);
$status-colors: (
  'go': hsl(75, 65%, 30%),
  'yield': 'brand-orange',
  'stop': hsl(0, 85%, 50%),
);

@include herman-add-colors('status-colors', $status-colors);


// Theme Colors
// ------------
/// Applying the brand and accent colors
/// to a sitewide theme.
/// @preview color-palette
/// @group colors
/// @link http://oddbird.net/accoutrement-color/sassdoc/
///   Accoutrement Color
/// @example
///   // @preview color-palette
///   @include herman-add-colors('theme-colors', $theme-colors);
$theme-colors: (
  'background': #fff,
  'text': 'black',
  'text-light': 'gray',
  'border': 'gray',
  'callout': 'light-gray',
  'overlay': 'callout' ('rgba': 0.9),
  'shadow': 'gray' ('rgba': 0.5),
  'action': 'brand-orange',
  'focus': 'action' ('shade': 10%),
  'active': 'action',
  'accent': 'brand-pink',
  'slight': 'light-gray' ('rgba': 0.4),
);

@include herman-add-colors('theme-colors', $theme-colors);


// System Colors
// -------------
/// Colors used by accoutrement-color
/// to calculate contrast ratios.
/// @group colors
/// @link http://oddbird.net/accoutrement-color/sassdoc/
///   Accoutrement Color
$system-colors: (
  'contrast-light': 'background',
  'contrast-dark': 'text',
);

@include herman-add-colors('system-colors', $system-colors);
