// Font Settings
// =============

@import '../../node_modules/accoutrement-type/sass/type';


// Font Formats
// ------------
/// The font-formats that we want to import
/// @group webfonts
/// @link http://oddbird.net/accoutrement-type/sassdoc/
///   Accoutrement Type
$font-formats: 'woff' 'ttf';


// Sans Font
// ---------
/// A clean sans-serif option
/// used for smaller text like captions and labels.
/// @preview font-specimen; key: sans; show: regular, bold, italic, bold italic
/// @group webfonts
/// @link http://oddbird.net/accoutrement-type/sassdoc/
///   Accoutrement Type
/// @example scss
///   // @preview font-specimen; key: sans
///   @include herman-add-font('sans', $sans-font);
$sans-font: (
  'name': 'Source Sans Pro',
  'source': 'https://fonts.google.com/specimen/Source+Sans+Pro',
  'stack': ('Helvetica Neue', 'Helvetica', 'Arial', sans-serif),
);

@include herman-add-font('sans', $sans-font);


// Code Font
// ---------
/// A readable monospace font for code previews.
/// @preview font-specimen; key: code; show: regular, bold, italic, bold italic
/// @group webfonts
/// @link http://oddbird.net/accoutrement-type/sassdoc/
///   Accoutrement Type
/// @example scss
///   // @preview font-specimen; key: code
///   @include herman-add-font('code', $code-font);
$code-font: (
  'name': 'Source Code Pro',
  'source': 'https://fonts.google.com/specimen/Source+Code+Pro',
  'stack': ('Consolas', 'Menlo', 'Monaco', 'Lucida Console', 'Liberation Mono', 'DejaVu Sans Mono', 'Bitstream Vera Sans Mono', 'Courier New', monospace, sans-serif),
);

@include herman-add-font('code', $code-font);
