// Font Settings
// =============

@import '../../node_modules/accoutrement-type/sass/type';


// Font Formats
// ------------
/// @access private
$font-formats: 'woff' 'ttf';


// Body Font
// ---------
/// The OddBird brand font,
/// used for most body and headline text.
/// @preview font-specimen
/// @group webfonts
$body-font: (
  'body': (
    'name': 'CenturyOldStyle',
    'source': 'http://www.fontspring.com/fonts/fontsite/century-old-style-fs',
    'stack': ('Baskerville', 'Palatino', 'Cambria', 'Georgia', serif),
    'regular': 'serif/CenturyOldStyle-regular',
    'italic': 'serif/CenturyOldStyle-italic',
    'bold': 'serif/CenturyOldStyle-bold',
  )
);


// Sans Font
// ---------
/// A clean sans-serif option
/// used for smaller text like captions and labels.
/// @preview font-specimen
/// @group webfonts
$sans-font: (
  'sans': (
    'name': 'SourceSansPro',
    'source': 'http://www.fontsquirrel.com/fonts/source-sans-pro',
    'stack': ('Helvetica Neue', 'Helvetica', 'Arial', sans-serif),
    'regular': 'sans/sourcesanspro-regular-webfont',
    'italic': 'sans/sourcesanspro-italic-webfont',
    'bold': 'sans/sourcesanspro-bold-webfont',
    'bold' 'italic': 'sans/sourcesanspro-bolditalic-webfont',
  )
);


// Code Font
// ---------
/// A readable monospace font for code previews.
/// @preview font-specimen
/// @group webfonts
$code-font: (
  'code': (
    'name': 'SourceCodePro',
    'source': 'http://www.fontsquirrel.com/fonts/source-code-pro',
    'stack': ('Consolas', 'Menlo', 'Monaco', 'Lucida Console', 'Liberation Mono', 'DejaVu Sans Mono', 'Bitstream Vera Sans Mono', 'Courier New', monospace, sans-serif),
    'regular': 'code/sourcecodepro-regular-webfont',
    'bold': 'code/sourcecodepro-bold-webfont',
  )
);


$fonts: map-merge($body-font, $sans-font);
$fonts: map-merge($fonts, $code-font);
