// Font Settings
// =============

/// # Herman Config: WebFonts
/// @group config-fonts
/// @link http://oddbird.net/accoutrement/docs/
///   Accoutrement

// Sans Font
// ---------
/// A clean sans-serif option
/// used for smaller text like captions and labels.
///
/// @font sans (normal, bold, italic, bold italic)
///   <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,400i,700,700i" rel="stylesheet">
/// @group config-fonts
$sans-font: (
  'name': 'Source Sans Pro',
  'source': 'https://fonts.google.com/specimen/Source+Sans+Pro',
  'stack': (
    'Helvetica Neue',
    'Helvetica',
    'Arial',
    sans-serif,
  ),
);

@include config('font', 'sans', $sans-font);

// Code Font
// ---------
/// A readable monospace font for code previews.
///
/// @font code (normal, bolder)
///   <link href="https://fonts.googleapis.com/css?family=Source+Code+Pro:400,600" rel="stylesheet">
/// @group config-fonts
$code-font: (
  'name': 'Source Code Pro',
  'source': 'https://fonts.google.com/specimen/Source+Code+Pro',
  'stack': (
    'Consolas',
    'Menlo',
    'Monaco',
    'Lucida Console',
    'Liberation Mono',
    'DejaVu Sans Mono',
    'Bitstream Vera Sans Mono',
    'Courier New',
    monospace,
    sans-serif,
  ),
);

@include config('font', 'code', $code-font);
