// Scale Settings
// ==============

@import '../../node_modules/accoutrement-scale/sass/scale';


$base-size: 22px;
$ratio: 1.4;

$sizes: (
  'large': 28px,
  'medium': 24px,
  'normal': 0,
  'rhythm': 1,
  'small': 18px,
  'smaller': 16px,

  'h1': 3,
  'h2': 2,
  'h3': 1,

  'gutter': 'rhythm',
  'page': 40rem,
  'color-swatch': 12rem,
);

$sizes: map-merge(
  $sizes,
  (
    'spacer': size('gutter')*3,
    'shim': size('gutter') * 0.5,
    'half-shim': size('gutter') * 0.25,
  )
);
