// Scale Settings
// ==============


// Text Ratios
// -----------
/// A set of standard ratios
/// for creating text rhythm and modular-scales.
///
/// @group z_config-scale
/// @preview ratios
/// @link http://oddbird.net/accoutrement-scale/docs/
///   Accoutrement Scale
/// @example scss
///   // @preview ratios;
///   @include accoutrement-add('ratios', 'text-ratios', $text-ratios);
$text-ratios: (
  'herman': 1.4
);

@include accoutrement-add('ratios', 'text-ratios', $text-ratios);


// Text Sizes
// ----------
/// A set of standard text sizes.
///
/// @group z_config-scale
/// @preview sizes
/// @link http://oddbird.net/accoutrement-scale/docs/
///   Accoutrement Scale
/// @example scss
///   // @preview sizes;
///   @include accoutrement-add('sizes', 'text-sizes', $text-sizes);
$text-sizes: (
  'root': 18px,

  'large-rem': 20px ('convert-units': 'rem'),
  'base-rem': 'root' ('convert-units': 'rem'),
  'small-rem': 16px ('convert-units': 'rem'),
  'xsmall-rem': 'base-rem' ('times': 0.75),

  'large': calc(%s + %s) ('base-rem', 1.5vw),
  'medium': calc(%s + %s) ('base-rem', 0.5vw),
  'base': calc(%s + %s) ('small-rem', 0.5vw),
  'small': calc(%s + %s) ('small-rem', 0.25vw),
  'xsmall': calc(%s + %s) ('xsmall-rem', 0.25vw),
  'code': 'xsmall',
  'small-code': calc(%s + %s) ('base-rem' ('times': 0.675), 0.25vw),

  'h1': calc(%s + %s) ('base-rem', 2.5vw),
  'h2': calc(%s + %s) ('base-rem', 2vw),
  'h3': 'large',
  'quote': 'medium',
);

@include accoutrement-add('sizes', 'text-sizes', $text-sizes);


// Spacing Sizes
// -------------
/// A set of standard spacing sizes.
///
/// @group z_config-scale
/// @preview sizes; style: ruler
/// @link http://oddbird.net/accoutrement-scale/docs/
///   Accoutrement Scale
/// @example scss
///   // @preview sizes; style: ruler
///   @include accoutrement-add('sizes', 'spacing-sizes', $spacing-sizes);
$spacing-sizes: (
  'rhythm': 'root' ('herman': 1, 'convert-units': 'rem'),
  'gutter': 'rhythm',
  'flex-gutter': calc(%s + %s) ('shim', 2.5vw),
  'double-gutter': 'gutter' ('linear': 2),
  'spacer': 'gutter' ('linear': 3),
  'double-spacer': 'spacer' ('linear': 2),
  'shim': 'gutter' ('linear': 0.5),
  'half-shim': 'shim' ('linear': 0.5),
  'quarter-shim': 'shim' ('linear': 0.25)
);

@include accoutrement-add('sizes', 'spacing-sizes', $spacing-sizes);


// Pattern Sizes
// -------------
/// A set of pattern-specific sizes,
/// that can be applied to various components.
///
/// @group z_config-scale
/// @preview sizes; style: output-only
/// @link http://oddbird.net/accoutrement-scale/docs/
///   Accoutrement Scale
/// @example scss
///   // @preview sizes; style: output-only
///   @include accoutrement-add('sizes', 'pattern-sizes', $pattern-sizes);
$pattern-sizes: (
  'border': 8px,
  'page': 50rem,

  'nav-small': 21rem,
  'nav-medium': 32rem,

  'project-link-nav': 36rem,
  'specimen': 'rhythm' ('linear': 3),
  'color-preview': calc(15em + 0.25vw), // trial and error…
  'color-swatch': 'rhythm' ('linear': 4),
  'icon': 28px,
  'nav-underline': 4px,
);

@include accoutrement-add('sizes', 'pattern-sizes', $pattern-sizes);
