// Scale Settings
// ==============

@import '../../node_modules/accoutrement-scale/sass/scale';


// Text Ratios
// -----------
/// A set of standard ratios
/// for creating text rhythm and modular-scales.
///
/// @group scale
/// @preview ratios
/// @link http://oddbird.net/accoutrement-scale/sassdoc/
///   Accoutrement Scale
/// @example scss
///   // @preview ratios;
///   @include herman-add-ratios('text-ratios', $text-ratios);
$text-ratios: (
  'herman': 1.4
);

@include herman-add-ratios('text-ratios', $text-ratios);


// Text Sizes
// ----------
/// A set of standard text sizes.
///
/// @group scale
/// @preview sizes
/// @link http://oddbird.net/accoutrement-scale/sassdoc/
///   Accoutrement Scale
/// @example scss
///   // @preview sizes;
///   @include herman-add-sizes('text-sizes', $text-sizes);
$text-sizes: (
  'root': 18px,

  'h1': 'root' ('herman': 3),
  'h2': 'root' ('herman': 2),
  'h3': 'root' ('herman': 1),

  'medium': 20px,
  'small': 18px,
  'smaller': 16px,
  'smallest': 15px,
);

@include herman-add-sizes('text-sizes', $text-sizes);


// Spacing Sizes
// -------------
/// A set of standard spacing sizes.
///
/// @group scale
/// @preview sizes; style: ruler
/// @link http://oddbird.net/accoutrement-scale/sassdoc/
///   Accoutrement Scale
/// @example scss
///   // @preview sizes; style: ruler
///   @include herman-add-sizes('spacing-sizes', $spacing-sizes);
$spacing-sizes: (
  'rhythm': 'root' ('herman': 1),
  'gutter': 'rhythm',
  'spacer': 'gutter' ('linear': 3),
  'shim': 'gutter' ('linear': 0.5),
  'half-shim': 'gutter' ('linear': 0.25),
);

@include herman-add-sizes('spacing-sizes', $spacing-sizes);


// Pattern Sizes
// -------------
/// A set of pattern-specific sizes,
/// that can be applied to various components.
///
/// @group scale
/// @preview sizes; style: output-only
/// @link http://oddbird.net/accoutrement-scale/sassdoc/
///   Accoutrement Scale
/// @example scss
///   // @preview sizes; style: output-only
///   @include herman-add-sizes('pattern-sizes', $pattern-sizes);
$pattern-sizes: (
  'border': 8px,
  'page': 50rem,
  'nav-small': 20rem,
  'nav-medium': 32rem,
  'specimen': 'rhythm' ('linear': 3),
  'color-swatch': 'rhythm' ('linear': 4),
);

@include herman-add-sizes('pattern-sizes', $pattern-sizes);
