// Scale Settings
// ==============

@import '../../node_modules/accoutrement-scale/sass/scale';


$base-size: 18px;
$ratio: 1.375;

$sizes: (
  'large': 24px,
  'medium': 20px,
  'normal': 0,
  'rhythm': 1,
  'small': 16px,
  'smaller': 13px,

  'h1': 2,
  'h2': 1,

  'gutter': 'rhythm',
  'page': 40rem,
);

$sizes: map-merge(
  $sizes,
  (
    'spacer': size('gutter')*2,
    'shim': size('gutter') * .5,
    'half-shim': size('gutter') * .25,
    'hero': 75vh,
  )
);
