<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8" />
  {% set project_title = package.title or package.name or 'OddBird' %}
  <title>{% block title %}{{ project_title }} Documentation{% endblock %}</title>
  <link href="{{ shortcutIcon.url }}" rel="shortcut icon">
  <link rel="stylesheet" href="assets/css/main.css" />
</head>
<body>

  <header role="banner" data-sassdoc="banner">
    <h1 data-sassdoc="project-title">
      <a href="index.html" rel="home">{{ project_title }}</a>
      {% if package.version %}
        <span data-sassdoc="project-version">{{ package.version }}</span>
      {% endif %}
    </h1>
  </header>

  <nav role="navigation" data-sassdoc="nav">
    {% for group_name, group in data.byGroupAndType %}
      <a href="{{ group_name }}.html" class="nav-group">{{ groups[group_name] }}</a>
    {% endfor %}
  </nav>

  <main role="main" data-sassdoc-page="{% block page_slug %}index{% endblock %}">
    {% block main %}{% endblock %}
  </main>

</body>
</html>
