// Headings
// ========


// Application
// -----------

[data-sassdoc='project-title'] {
  align-items: baseline;
  display: flex;
  font-size: size('h1');
  margin-left: auto;
  margin-right: auto;
}

[data-sassdoc='project-name'] {
  padding-left: size('half-shim');
  padding-right: size('half-shim');

  &,
  #{$link} {
    color: color('theme-dark');
  }

  #{$focus} {
    color: color('focus');
    text-decoration: none;
  }
}
