// Root
// ====

:root {
  @include baseline;
  @include font-family('sans');
  font-size: calc(size('root') + 0.25vw);
  line-height: map-get($ratios, 'herman');
}


// Links
// -----

[href] {
  #{$link} {
    color: color('action');
    text-decoration: none;

    [data-sassdoc-region='banner'] &,
    [data-sassdoc-region='nav'] & {
      color: inherit;
    }
  }

  #{$focus} {
    color: color('focus');
    text-decoration: underline;

    [data-sassdoc-region='banner'] &,
    [data-sassdoc-region='nav'] & {
      color: inherit;
    }
  }
}


// Code
// ----
pre,
code {
  @include font-family('code');
  @include font-size('smaller', 0.75);
}

.visually-hidden {
  @include is-hidden;
}
