{% macro mymacro(first, second) %}
  {{ first }} then {{ second }}.
{% endmacro %}

{% macro icon(name) -%}
  rendered {{ name }}
{%- endmacro %}

{% macro macro_with_custom_filter(val) %}
  {{ val|plus_one }}
{% endmacro %}
