// Banner Styles
// =============

@use 'pkg:accoutrement' as tools;
@use '../config';

// Banner Region
// -------------
/// Layout styles for Herman's top-banner region.
///
/// @group style-banner
/// @example njk
///   {% import 'utility.macros.njk' as utility %}
///   <header data-region="banner">
///     <button data-nav-toggle>
///       {{ utility.icon('menu', size='nav-icon') }}
///     </button>
///     <div class="project-title">
///       <a href="index.html" rel="home" class="project-name">Herman</a>
///       <span class="project-version">1.0.0</span>
///     </div>
///   </header>
[data-region='banner'] {
  @include tools.z-index('banner');

  align-items: center;
  display: flex;
  padding: tools.size('shim');

  @include config.banner-arrow;
}

// Project Title
// -------------
/// Used for the top-banner project title,
/// including both the name and version of the project.
///
/// @group style-banner
/// @example html
///   <div class="project-title">
///     <a href="index.html" rel="home" class="project-name">Herman</a>
///     <span class="project-version">1.0.0</span>
///   </div>
.project-title {
  align-items: baseline;
  display: flex;
  margin-left: auto;
  margin-right: auto;
}

// Project Name
// ------------
/// Specific styling for the top-banner project name.
///
/// @group style-banner
/// @example html
///   <a href="index.html" rel="home" class="project-name">Herman</a>
.project-name {
  font-size: tools.size('h1');
  font-weight: bold;
  padding-left: tools.size('half-shim');
  padding-right: tools.size('half-shim');

  #{config.$link} {
    text-decoration: none;
  }
}

// Project Title
// -------------
/// Less prominent text for the top-banner project version.
///
/// @group style-banner
/// @example html
///   <span class="project-version">1.0.0</span>
.project-version {
  @include tools.font-family('sans');

  color: tools.color('text-light');
  font-size: tools.size('h3');
}

// Nav Toggle
// ----------
/// The navigation-menu toggle is only visible on small screens.
///
/// @group style-banner
/// @example njk
///   {% import 'utility.macros.njk' as utility %}
///   <button data-nav-toggle>
///     {{ utility.icon('menu', size='nav-icon') }}
///   </button>
[data-nav-toggle] {
  color: tools.color('action');
  padding: tools.size('half-shim');

  @include tools.above('page-break') {
    padding-left: tools.size('shim');
    padding-right: tools.size('shim');
  }

  @include tools.above('nav-break') {
    display: none;
  }

  #{config.$focus},
  &[aria-pressed='true'] {
    color: tools.color('focus');
    outline: 0;
  }
}
