// Layout Regions
// ==============


[data-sassdoc-region] {
  width: 100%;
}


// App
// ---
[data-sassdoc-region='app'] {
  margin: 0 auto;
  padding: 0;
}

[data-sassdoc-region='container'] {
  @include clearfix;
  display: flex;
  position: relative;

  @include above('page') {
    justify-content: flex-end;
  }
}

// Navigation
// ----------
[data-sassdoc-region='nav'] {
  @include contrasted('theme-dark');
  margin: 0;
  padding: size('gutter');
  white-space: nowrap;
}


// Page
// ----
[data-sassdoc-region='main'] {
  padding: size('shim');

  @include above('page') {
    overflow: hidden;
    padding: size('gutter');
  }
}
