// Layout Regions
// ==============


[data-sassdoc-region] {
  max-width: 100%;
}


// App
// ---
[data-sassdoc-region='app'] {
  margin: 0 auto;
  padding: size('shim');
}

[data-sassdoc-region='container'] {
  @include clearfix;
}


// Navigation
// ----------
[data-sassdoc-region='nav'] {
  margin: size('shim') size('gutter') size('gutter') 0;

  @include above(35em) {
    float: left;
    width: 10%;
  }
}

[data-sassdoc-nav] {
  display: block;
}


// Page
// ----
[data-sassdoc-region='main'] {
  padding: size('shim');

  @include above(35em) {
    overflow: hidden;
  }
}
