{% import 'item/preview.macros.j2' as preview %}

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title>fonts</title>

  <link rel="stylesheet" href="{{ basePath }}assets/css/main.css" />

  {% if item.font.html %}
    {{ item.font.html|safe }}
  {% endif %}
</head>
<body class="sassdoc">
  {% set key = item.font.key or item.context.origName or item.context.name %}
  {% set data = sassjson.fonts[key] %}
  {% set family = [data.name, data.stack]|join(',') %}
  {% if item.font.variants and item.font.variants|length %}
    {% for option in item.font.variants %}
      {{ preview.specimen_variant(
        family=family,
        option=option,
        data=data,
        path=data[option]
      ) }}
    {% endfor %}
  {% else %}
    {% for option, path in data %}
      {{ preview.specimen_variant(
        family=family,
        option=option,
        path=path
      ) }}
    {% endfor %}
  {% endif %}
</body>
</html>
