<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title>example</title>

  {% if fontsHTML %}
    <!-- Custom Font HTML -->
    {{ fontsHTML|safe }}
  {% endif %}

  {% if customCSS and customCSS.url %}
    <!-- Custom CSS -->
    <link rel="stylesheet" href="{{ customCSS.url }}" />
  {% endif %}
</head>
<body class="sassdoc">
  {% if customHTML %}
    {{ customHTML|safe }}
  {% endif %}
  {{ item.rendered|safe }}
</body>
</html>
