<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title>@@@ example title</title>

  {% if customCSS and customCSS.url %}
    <link rel="stylesheet" href="{{ customCSS.url }}" />
  {% else %}
    <link rel="stylesheet" href="{{ basePath }}assets/css/theme.css" />
  {% endif %}
</head>
<body>
  {{ example.rendered|safe }}
</body>
</html>
