// Banner Theme
// ============

[data-sassdoc-region='banner'] {
  @include section-arrow;
  @include z-index('banner');
  align-items: center;
  box-shadow: 0 2px 2px color('shadow');
  display: flex;
  padding: size('shim');
}

[data-sassdoc='project-version'] {
  @include font-family('sans');
  color: color('text-light');
  font-size: size('base');
  font-weight: normal;
}
