// Breadcrumb Styles
// =================
/// # Herman Breadcrumb Component
/// So you always know where you are…
/// @group component-breadcrumb

@use 'pkg:accoutrement' as tools;

// Breadcrumb
// ----------
/// @group component-breadcrumb
/// @example html
///   <nav class="breadcrumb">
///     <a href="index.html">Herman</a> »
///     <strong>_Component: Breadcrumb</strong>
///   </nav>
.breadcrumb {
  background: tools.color('callout');
  padding: tools.size('shim') tools.size('flex-gutter');

  a,
  span,
  strong {
    display: inline-block;
  }
}
