// Color Documentation
// ===================

[data-sassdoc='color-palette'] {
  margin: size('gutter') 0;
}

[data-sassdoc-color] {
  display: flex;
  margin: size('shim') 0;
  position: relative;

  @include before(' ') {
    background-image: linear-gradient(45deg, currentColor 25%, transparent 25%), linear-gradient(-45deg, currentColor 25%, transparent 25%), linear-gradient(45deg, transparent 75%, currentColor 75%), linear-gradient(-45deg, transparent 75%, currentColor 75%);
    background-position: 0 0, 0 10px, 10px -10px, -10px 0;
    background-size: 20px 20px, 20px 20px, 20px 20px, 20px 20px;
    height: size('color-swatch');
    position: absolute;
    width: size('color-swatch') / 2;
  }
}

[data-sassdoc='color-swatch'] {
  @include square('color-swatch');
  border: 1px solid color('border');
  position: relative;
  z-index: 1;
}

[data-sassdoc='color-info'] {
  padding: 0 size('shim');
}

[data-sassdoc='color-name'] {
  display: block;
}

[data-sassdoc='color-value'] {
  @include font-family('code');
  @include font-size('smaller');
  color: color('text-light');
}
