// Color Documentation
// ===================

[data-sassdoc='color-palette'] {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: size('gutter') negative('shim');
}

[data-sassdoc-color] {
  flex: 1 1 15%;
  margin: size('shim');
  min-width: size('color-swatch');
}

[data-sassdoc='color-swatch'] {
  height: size('spacer');
}

[data-sassdoc='color-info'] {
  @include font-family('code');
  @include font-size('smaller', 0.75);
  padding: size('half-shim') 0;
  white-space: nowrap;
}

[data-sassdoc='color-name'] {
  display: block;
  text-transform: uppercase;
}

@each $name, $value in $colors {
  [data-sassdoc-color='#{$name}'] {
    [data-sassdoc='color-swatch'] {
      background: color($value);
      box-shadow: 0 0 size('half-shim') rgba(contrast('background'), 0.5) inset;
    }

    @if map-has-key($colors, $value) {
      [data-sassdoc='color-name'] {
        @include after(' (#{$value})') {
          color: color('text-light');
          font-weight: normal;
        }
      }
    }
  }
}
