// Font Specimen
// =============

$_font-style-options: 'italic' 'oblique';
$_font-weight-options: 100 200 300 400 500 600 700 800 900 'bold';

[data-sassdoc-font] {
  margin: size('gutter') 0;
}


// Family
// ------

[data-sassdoc='font-family'] {
  @include font-size('small');
  max-width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

[data-sassdoc='font-type'] {
  @include after(' · ');
  display: inline;
  text-transform: uppercase;
}

[data-sassdoc='font-stack'] {
  @include font-family('code');
  @include font-size('smaller');
  display: inline;
}

[data-sassdoc='font-name'] {
  font-weight: bold;
}


// Face
// ----

@each $style in $_font-style-options {
  [data-specimen-face~='#{$style}'] {
    $style: '#{$style}';
    font-style: unquote($style);
  }
}

@each $weight in $_font-weight-options {
  [data-specimen-face~='#{$weight}'] {
    $weight: '#{$weight}';
    font-weight: unquote($weight);
  }
}

[data-specimen-face] {
  background-color: color('callout');
  margin: size('shim') 0;
  padding-bottom: size('shim');
}

[data-sassdoc='specimen-title'] {
  @include contrasted('text');
  @include font-size('small');
  font-weight: inherit;
  padding: size('half-shim') size('shim');
}


// Size
// ----

[data-specimen-size] {
  margin: size('shim');
}

[data-sassdoc='specimen-size'] {
  @include font-family('code');
  @include font-size('smaller');
  color: color('light');
  font-style: normal;
  font-weight: normal;
  text-transform: uppercase;
}

[data-sassdoc='specimen-text'] {
  max-width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
