// Index Styles
// ============

[data-sassdoc-page='index'] {
  color: color('black');

  h1,
  h2,
  h3,
  h4 {
    color: color('black');
    margin-bottom: size('shim');
  }

  h1 {
    font-size: size('h2');
  }

  h2 {
    font-size: size('h3');
  }

  p {
    margin: size('gutter') 0;
  }
}
