// Item Styles
// ===========

@use 'pkg:accoutrement/sass/tools';

.item {
  margin-bottom: tools.size('spacer');
}

[data-item-section] {
  margin-bottom: tools.size('gutter-plus');
}

[data-item-section='header'] {
  .code-block,
  .text-block {
    margin-bottom: tools.size('shim');
  }
}

.item-title {
  font-size: tools.size('h2');
}

.item-subtitle {
  border-bottom: 1px solid tools.color('border-light');
  color: tools.color('text-light');
  font-weight: normal;
  margin-bottom: tools.size('shim');
}

.item-subtitle-main {
  letter-spacing: 0.05em;
  text-transform: uppercase;

  &:not(:last-child) {
    @include tools.after(': ');
  }
}

.item-subtitle-supplement {
  @include tools.font-family('code');

  letter-spacing: 0;
  padding-left: tools.size('half-shim');
}

.item-type,
.item-name,
.item-value,
.alias-title {
  @include tools.font-family('code');

  display: inline-block;
}

.item-type,
.item-value,
.value-type,
.item-note {
  color: tools.color('text-light');
  display: inline-block;
  font-weight: normal;
}

.alias {
  color: tools.color('text-light');
  font-style: italic;
}

.alias-title {
  font-style: normal;
  font-weight: bolder;
}

.param-list {
  margin-bottom: tools.size('shim');
}

.param-title {
  color: tools.color('text-light');
  font-size: tools.size('h3');
}

.param-details {
  margin-top: tools.size('half-shim');

  @include tools.above('item-break') {
    margin-left: tools.size('gutter');
  }
}

// Requires
// --------
.requires-wrapper {
  @include tools.above('item-break') {
    display: flex;
    margin-bottom: tools.size('gutter-plus');

    [data-item-section] {
      flex: 1 1 40%;
      margin-bottom: 0;
      max-width: 100%;

      &:first-child {
        margin-right: tools.size('gutter');
      }
    }
  }
}
