// Item Styles
// ===========

[data-sassdoc-item] {
  border-top: 2px dotted color('border');
  margin: size('gutter') 0;
  padding: size('gutter') 0;
}

[data-sassdoc='item-title'] {
  margin-bottom: size('shim');
}

[data-sassdoc='item-type'] {
  @include font-family('sans');
  @include font-size('small');
  @include wrap-content('[' ']');
  color: color('light');
  font-weight: normal;
}

[data-sassdoc='item-description'] {
  margin-bottom: size('gutter');
}

[data-sassdoc='parameters'] {
  @include font-size('small');

  td,
  th {
    padding: size('half-shim') size('shim');
  }

  code {
    white-space: nowrap;
  }
}
