// Item Styles
// ===========

.item {
  @include pad-main;
  padding-bottom: size('gutter');
  padding-top: size('gutter');
}

[data-item-section] {
  margin-bottom: size('double-gutter');
}

[data-item-section='header'] {
  margin: size('gutter') 0;
}

.item-title {
  font-size: size('h3');
}

.item-subtitle {
  border-bottom: 1px solid color('light-border');
  color: color('text-light');
  font-size: size('small');
  font-weight: normal;
  letter-spacing: 0.05em;
  margin-bottom: size('shim');
  text-transform: uppercase;
}

.item-type,
.item-name,
.item-value,
.alias-title {
  @include font-family('code');
  display: inline-block;
}

.item-type,
.item-value,
.value-type,
.item-note {
  color: color('text-light');
  display: inline-block;
  font-weight: normal;
}

.alias {
  color: color('text-light');
  font-style: italic;
}

.alias-title {
  font-style: normal;
  font-weight: bold;
}

.param-list {
  margin-bottom: size('shim');
}

.param-title {
  color: color('text-light');
  font-size: size('medium');
}

.param-details {
  margin-left: size('gutter');
  margin-top: size('half-shim');
}
