// Item Styles
// ===========

.item {
  margin-bottom: size('spacer');
}

[data-item-section] {
  margin-bottom: size('gutter-plus');
}

[data-item-section='header'] {
  .code-block,
  .text-block {
    margin-bottom: size('shim');
  }
}

.item-title {
  font-size: size('h2');
}

.item-subtitle {
  border-bottom: 1px solid color('light-border');
  color: color('text-light');
  font-size: size('small');
  font-weight: normal;
  margin-bottom: size('shim');
}

.item-subtitle-main {
  letter-spacing: 0.05em;
  text-transform: uppercase;

  &:not(:last-child) {
    @include after(': ');
  }
}

.item-subtitle-supplement {
  @include font-family('code');
  letter-spacing: 0;
  padding-left: size('half-shim');
}

.item-type,
.item-name,
.item-value,
.alias-title {
  @include font-family('code');
  display: inline-block;
}

.item-type,
.item-value,
.value-type,
.item-note {
  color: color('text-light');
  display: inline-block;
  font-weight: normal;
}

.alias {
  color: color('text-light');
  font-style: italic;
}

.alias-title {
  font-style: normal;
  font-weight: bolder;
}

.param-list {
  margin-bottom: size('shim');
}

.param-title {
  color: color('text-light');
  font-size: size('base');
}

.param-details {
  margin-top: size('half-shim');

  @include above('nav-medium') {
    margin-left: size('gutter');
  }
}


// Requires
// --------
.requires-wrapper {
  @include above('nav-medium') {
    display: flex;
    margin-bottom: size('gutter-plus');

    [data-item-section] {
      flex: 1 1 40%;
      margin-bottom: 0;
      max-width: 100%;

      &:first-child {
        margin-right: size('gutter');
      }
    }
  }
}
