// Item Styles
// ===========

[data-sassdoc-item] {
  border-top: 2px dotted color('border');
  margin: size('gutter') 0;
  padding: size('gutter') 0;
}

[data-sassdoc='item-description'] {
  margin-bottom: size('shim');
}
