// Navigation Styles
// =================

/// # Herman Navigation Component
/// @group style-nav


// Small Menu
// ----------

[data-nav-menu] {
  align-items: stretch;
  display: flex;
  flex-direction: column;
  width: auto;

  @include below('nav-large') {
    @include position(0 null 0 0);
    box-shadow: 0 0 size('half-shim') color('shadow');
    transform: translateX(-102%);
    transition: transform 0.4s;

    &[aria-expanded='true'] {
      transform: translateX(0);
    }
  }

  @include above('nav-large') {
    flex: 0 0 auto;
  }
}


// Toggles
// -------

[data-nav-toggle] {
  color: color('theme-dark');
  padding: size('half-shim');

  @include above('page-break') {
    padding-left: size('shim');
    padding-right:  size('shim');
  }

  @include above('nav-large') {
    display: none;
  }

  &:focus,
  &:hover {
    color: color('action');
    outline: 0;
  }

  &:active {
    color: color('focus');
    outline: 0;
  }
}


// Nav Items
// ---------

[data-sassdoc='nav-item'] {
  list-style: none;
  margin: size('half-shim') 0;

  @include below('nav-small') {
    width: 50%;

    &:nth-of-type(2n) {
      padding-right: 1rem;
    }
  }
}


// Nav Titles
// ----------

[data-sassdoc='nav-title'] {
  font-weight: bold;
  margin: size('half-shim') 0;
  width: 100%;
}


// Nav Subsections
// ---------------

[data-sassdoc='nav-subsection'] {
  flex: 0 0 auto;
  padding-bottom: size('gutter');

  &:last-of-type {
    flex: 1 0 auto;
  }

  & + & {
    border-top: 1px solid color('theme-light');
    padding-top: size('gutter');
  }
}


// Nav Links
// ---------
/// Navigation items, with inactive and active states.
/// @group style-nav
/// @example html
///   <ul data-nav-menu>
///     <li data-sassdoc="nav-item">
///       <a href="#" data-sassdoc-nav="is-not-active">not active</a>
///     </li>
///     <li data-sassdoc="nav-item">
///       <a href="#" data-sassdoc-nav="is-active">active</a>
///     </li>
///   </ul>
[data-sassdoc-nav] {
  #{$link} {
    color: color('background');
    line-height: 1.1;
    padding-bottom: size('quarter-shim');
    position: relative;
    text-decoration: none;
    transition: color 0.4s;

    // Animated underlines
    @include before('') {
      @include position(null null 0 0);
      background: color('theme-light');
      height: size('nav-underline');
      transform: scale3d(0, 1, 1);
      transform-origin: center left;
      transition: transform 0.4s cubic-bezier(0.22, 0.61, 0.36, 1);
      transition-delay: 0.2s;
      width: 100%;
    }
  }

  #{$focus} {
    @include before('') {
      transform: scale3d(1, 1, 1);
      transition-delay: 0s;
    }
  }

  &[data-sassdoc-nav='is-active'] {
    #{$link},
    #{$focus} {
      @include before('') {
        transform: scale3d(1, 1, 1);
        transition-delay: 0s;
      }
    }
  }
}


// Footer Credit
// -------------

.footer-credit {
  @include clearfix;
  border-top: 1px solid color('theme-light');
  flex: 0 0 auto;
  font-size: size('xsmall');
  line-height: size('rhythm');
  padding-top: size('gutter');

  span {
    display: block;
    overflow: hidden;
    white-space: nowrap;
  }
}


.footer-icon {
  #{$link} {
    color: inherit;
    float: left;
    margin-right: size('half-shim');
  }
}


.footer-link {
  #{$link} {
    color: color('background');
    font-weight: bold;
    text-decoration-color: transparent;
  }

  #{$focus} {
    text-decoration-color: currentColor;
  }
}

