// Navigation Styles
// =================


// Nav Links
// ---------
/// Navigation items, with inactive and active states.
/// @group layout
/// @example html
///   <a href="#" data-sassdoc-nav="is-not-active">not active</a>
///   <a href="#" data-sassdoc-nav="is-active">active</a>
[data-sassdoc-nav] {
  #{$link} {
    border-bottom: 5px solid transparent;
    color: inherit;
    text-decoration: none;

    #{$focus} {
      border-color: color('background' (rgba: 0.75));
    }
  }

  &[data-sassdoc-nav='is-active'] {
    #{$link} {
      border-color: color('background' (rgba: 0.75));
    }
  }
}

