// Project Meta Styles
// ===================

@use '~accoutrement/sass/tools';
@use '../config';

.project-links {
  display: flex;
  justify-content: flex-end;
  margin: 0 0 tools.size('shim');

  @include tools.above('page-break') {
    margin-bottom: 0;
  }
}

.project-link-item {
  display: flex;
  list-style: none;

  & + & {
    margin-left: tools.size('shim');
  }
}

.project-link {
  #{config.$link} {
    border: 1px solid tools.color('action');
    border-radius: tools.size('gutter');
    padding: tools.size('half-shim') tools.size('gutter');
    text-align: center;
    text-decoration: none;
    transition: background-color 0.4s;
  }

  #{config.$focus} {
    @include tools.contrasted('action');
  }
}
