// Project Meta Styles
// ===================


.project-links {
  display: flex;
  justify-content: flex-end;
  margin-left: 0;
  margin-right: 0;

  @include below('page-break') {
    margin-bottom: size('shim');
  }
}

.project-link-item {
  display: flex;
  list-style: none;

  & + & {
    margin-left: size('shim');
  }
}

.project-link {
  #{$link} {
    border: 1px solid color('action');
    border-radius: size('gutter');
    padding: size('half-shim') size('gutter');
    text-align: center;
    text-decoration: none;
    transition: background-color 0.4s;
  }

  #{$focus} {
    @include contrasted('action');
  }
}
