// Project Meta Styles
// ===================


[data-sassdoc='project-links'] {
  display: flex;
  justify-content: flex-end;
}

[data-sassdoc='project-link'] {
  border: 1px solid color('theme-dark');
  border-radius: size('gutter');
  font-size: size('smaller');
  line-height: 1.6;
  padding: size('half-shim') size('gutter');

  #{$focus} {
    @include contrasted('theme-dark');
    text-decoration: none;
  }

  & + & {
    margin-left: size('shim');
  }
}
