// Ratio Preview
// =============

[data-sassdoc='ratio-demos'] {
  overflow-x: auto;
  padding: size('half-shim');
  white-space: nowrap;
}

[data-sassdoc='size-demo'] {
  margin: size('shim') 0;

  [data-size-demo='sample'] {
    overflow: hidden;
    padding: size('half-shim');
    white-space: nowrap;
  }

  [data-size-demo='details'] {
    @include font-family('code');
    @include font-size('smaller');
    flex: 1 1 auto;
  }

  [data-size-demo='value'] {
    color: color('text-light');
  }
}
