// Search
// ======

@use '~accoutrement/sass/tools';

.search-heading {
  font-size: tools.size('h1');
}

.search-term {
  @include tools.font-family('code');
}

.search-results {
  list-style: none;
}

.search-result {
  margin: tools.size('flex-gutter') 0;
}

[data-result-field='contents'] {
  color: tools.color('text-light');
}
