// Search
// ======


.search-heading {
  font-size: size('h1');
}


.search-term {
  @include font-family('code');
}


.search-results {
  list-style: none;
}


.search-result {
  margin: size('flex-gutter') 0;
}


[data-result-field='text'] {
  color: color('text-light');
}
