<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1">

  {% set project_title = package.title or package.name or 'Herman' %}
  <title>{% block title %}{{ project_title }} Documentation{% endblock %}</title>

  <link href="{{ shortcutIcon.url }}" rel="shortcut icon">

  {% if customHead %}
    {{ customHead|safe }}
  {% endif %}

  <link rel="stylesheet" href="{{ basePath }}assets/css/main.css" />
</head>
<body>

  {% include '_icons.svg' %}
  {{ iconsSvg|safe }}
  {% import 'utility.macros.j2' as utility %}
  {% import 'nav.macros.j2' as nav %}

  <div data-sassdoc-region="app">
    <header role="banner" data-sassdoc-region="banner">
      {{ nav.toggles() }}

      <h1 data-sassdoc="project-title">
        <a href="{{ homepage or package.homepage or basePath + 'index.html' }}" rel="home" data-sassdoc="project-name">{{ project_title }}</a>
        {% if package.version %}
          <span data-sassdoc="project-version">{{ package.version }}</span>
        {% endif %}
        {% if activeProject %}
          : <a href="{{ basePath }}{{ activeProject }}/index.html">{{ activeProject }}</a>
        {% endif %}
      </h1>
    </header>

    <div data-sassdoc-region="container">
      {{ nav.menus(
        basePath=basePath,
        project=project_title,
        topGroups=topGroups,
        topByGroup=topByGroup,
        subprojects=subprojects,
        activeProject=activeProject,
        activeGroup=activeGroup
      ) }}

      <main role="main" data-sassdoc-region="main" data-sassdoc-page="{% block page_slug %}{{ activeGroup or 'index' }}{% endblock %}">
        {% block main %}{% endblock %}
      </main>
    </div>
  </div>

  <script type="text/javascript" src="{{ basePath }}assets/js/jquery-3.1.1.slim.js"></script>
  <script type="text/javascript" src="{{ basePath }}assets/js/srcdoc-polyfill.min.js"></script>
  <script type="text/javascript" src="{{ basePath }}assets/js/highlight.js"></script>
  <script type="text/javascript" src="{{ basePath }}assets/js/base.js"></script>
  <script type="text/javascript" src="{{ basePath }}assets/js/init.js"></script>
</body>
</html>
