<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8" />
  {% set project_title = package.title or package.name or 'Herman' %}
  <title>{% block title %}{{ project_title }} Documentation{% endblock %}</title>
  <link href="{{ shortcutIcon.url }}" rel="shortcut icon">
  <link rel="stylesheet" href="assets/css/main.css" />
  {% if customCSS and customCSS.url %}
    <link rel="stylesheet" href="{{ customCSS.url }}" />
  {% else %}
    <link rel="stylesheet" href="assets/css/theme.css" />
  {% endif %}
</head>
<body>

  <header role="banner" data-sassdoc-region="banner">
    <h1 data-sassdoc="project-title">
      <a href="index.html" rel="home" data-sassdoc="project-name">{{ project_title }}</a>
      {% if package.version %}
        <span data-sassdoc="project-version">{{ package.version }}</span>
      {% endif %}
    </h1>
  </header>

  <nav role="navigation" data-sassdoc-region="nav">
    <h2 data-sassdoc="nav-title">
      <a href="index.html" rel="home">Pattern Library</a>
    </h2>
    {% for group_name, group in data.byGroupAndType %}
      {% set active_nav = 'is-active' if (group_name == data.currentGroup) else 'is-not-active' %}
      <a href="{{ group_name }}.html" data-sassdoc-nav="{{ active_nav }}">{{ groups[group_name] }}</a>
    {% endfor %}
  </nav>

  <main role="main" data-sassdoc-region="main" data-sassdoc-page="{% block page_slug %}{{ data.currentGroup or 'index' }}{% endblock %}">
    {% block main %}{% endblock %}
  </main>

</body>
</html>
