{% extends 'base.j2' %}

{% block main %}
  <h2 data-sassdoc="page-title">
    {{ groups[data.currentGroup] }}
  </h2>

  {% for type, items in data.byGroupAndType[data.currentGroup] %}
    {% if items.length > 0 %}
      {% for item in items %}
        {% include 'item/_item.j2' %}
        {% include 'item/_parameter.j2' %}
      {% endfor %}
    {% endif %}
  {% endfor %}
{% endblock %}
