{% extends 'base.j2' %}

{% block main %}
  <h2 data-sassdoc="page-title">
    {{ groups[data.currentGroup] }}
  </h2>

  {% for item in data.byGroup[data.currentGroup] %}
    {% set type = item.context.type %}
    {% include 'item/_item.j2' %}
  {% endfor %}
{% endblock %}
