{% import 'utility.macros.j2' as utility %}


{% macro toggle(size, expanded=false) %}
  <button data-nav-toggle="{{ size }}" {{ utility.toggle_button(['nav', size]|join('-'), button='true', expanded=expanded) }}>{{ utility.icon('menu', 'menu', size='icon-small') }}</button>
{% endmacro %}


{% macro toggles() %}
  {{ toggle('small') }}
  {{ toggle('large', true) }}
{% endmacro %}


{% macro menu(size, topGroups, topByGroup, subprojects, expanded=false) %}
  <nav role="navigation" data-nav-menu="{{ size }}" {{ utility.toggle_target(['nav', size]|join('-'), expanded=expanded)}}>
    {% for groupName, group in topByGroup %}
      {% set activeNav = 'is-active' if activeProject == none and activeGroup == groupName else 'is-not-active' %}
      <li data-sassdoc="nav-item">
        <a href="{{ basePath }}{{ groupName }}.html" data-sassdoc-nav="{{ activeNav }}">{{ topGroups[groupName] }}</a>
      </li>
    {% endfor %}

    {% for prjName, prjCtx in subprojects %}
      <h3 data-sassdoc="nav-title">
        {% set activeNav = 'is-active' if activeProject == prjName and activeGroup == none else 'is-not-active' %}
        <a href="{{ basePath }}{{ prjName }}/index.html" data-sassdoc-nav="{{ activeNav }}">{{ prjName }}</a>
      </h3>
      {% for groupName, group in prjCtx.byGroup %}
        {% set activeNav = 'is-active' if activeProject == prjName and activeGroup == groupName else 'is-not-active' %}
        <li data-sassdoc="nav-item">
          <a href="{{ basePath }}{{prjName}}/{{ groupName }}.html" data-sassdoc-nav="{{ activeNav }}">{{ prjCtx.groups[groupName] }}</a>
        </li>
      {% endfor %}
    {% endfor %}
  </nav>
{% endmacro %}


{% macro menus(topGroups, topByGroup, subprojects) %}
  {# Mobile Menu #}
  {{ menu(
    size='small',
    topGroups=topGroups,
    topByGroup=topByGroup,
    subprojects=subprojects,
    expanded=false
    ) }}

  {# Wide Menu #}
  {{ menu(
    size='large',
    topGroups=topGroups,
    topByGroup=topByGroup,
    subprojects=subprojects,
    expanded=true
    ) }}
{% endmacro %}
