{# Utility Macros #}


{% macro attr_if(attr, value) %}
  {%- if value === true -%}
    {{ attr }}
  {%- elif value -%}
    {{ attr }}="{{ value }}"
  {%- endif -%}
{% endmacro %}


{% macro show_attrs(attrs) %}
  {%- for name, value in attrs.items() %}{{ attr_if(value, name) }}{% endfor -%}
{% endmacro %}


{% macro link_if(content=none, url=none, attrs={}) -%}
  {%- set content = content if content else caller() -%}

  {%- if url -%}
    <a href="{{ url }}" {{ show_attrs(attrs) }}>{{ content }}</a>
  {%- else -%}
    <span {{ show_attrs(attrs) }}>{{ content }}</span>
  {%- endif -%}
{%- endmacro %}


{# Toggle collapsible elements (see `static/js/app/base.js`) #}
{% macro toggle_button(id, expanded=false, button=false, synced=false) -%}
  data-toggle="button" aria-controls="{{ id }}" aria-pressed="{{ 'true' if expanded else 'false' }}"{% if not button %} role="button"{% endif %} data-toggle-synced="{{ 'true' if synced else 'false' }}"
{%- endmacro %}

{% macro toggle_target(id, expanded=false, auto_closing=false, auto_closing_on_any_click=false) -%}
  data-toggle="target" id="{{ id }}" data-target-id="{{ id }}" aria-expanded="{{ 'true' if expanded else 'false' }}" data-auto-closing="{{ 'true' if auto_closing else 'false' }}" data-auto-closing-on-any-click="{{ 'true' if auto_closing_on_any_click else 'false' }}"
{%- endmacro %}

{% macro toggle_close(id) -%}
  data-toggle="close" aria-controls="{{ id }}"
{%- endmacro %}


{# Tabbed elements (see `static/js/app/base.js`) #}
{% macro tab(id, group, content=none, active=false) %}
  {% set content = content if (content != none) else caller() %}
  <a href="#panel-{{ id }}" data-sassdoc="example-tab" id="tab-{{ id }}" role="tab" data-tab-group="{{ group }}" data-contents="{{ id }}" aria-controls="panel-{{ id }}"{% if active %} aria-selected="true" tabindex="0"{% else %} tabindex="-1"{% endif %}>
    {{ content }}
  </a>
{% endmacro %}

{% macro tab_panel(id, group, content=none, active=false, class=none) %}
  {% set content = content if (content != none) else caller() %}
  <div data-sassdoc="example-panel" id="panel-{{ id }}" role="tabpanel" data-tab-group="{{ group }}" aria-labelledby="tab-{{ id }}" aria-hidden="{{ 'false' if active else 'true' }}" {{ attr_if('data-sassdoc-example-panel', class) }}>
    {{ content }}
  </div>
{% endmacro %}
