// Code Previews
// =============
/// # Herman Code-Block Styles
/// Code-block styles and syntax highlighting,
/// for both user and machine-generated code samples.
/// @group style-code
/// @link https://highlightjs.org/ Highlight.JS


// Code Blocks
// -----------
/// @name Code Blocks
/// @group style-code
.code-block {
  align-items: stretch;
  display: flex;
  flex: 1 1 20em;
  flex-direction: column;
  max-height: size('rhythm') * 12;
  max-width: 100%;
  overflow: hidden;
}


// Code Header
// -----------
/// @group style-code
.code-header {
  background-color: color('callout');
  background-color: var(--color-callout, color('callout')); //sass-lint:disable-line no-duplicate-properties
  color: color('callout-text');
  color: var(--color-text, color('callout-text')); //sass-lint:disable-line no-duplicate-properties
  flex: 0 0 auto;
  padding: 0 size('shim');
}


// Code Description
// ----------------
/// @group style-code
.code-description {
  @include before(' – ');
}


// Pre
// ---
/// @group style-code
.hljs-pre,
.text-block pre { // sass-lint:disable-line force-element-nesting
  background-color: color('code-background');
  border: 1px solid color('border');
  border-color: var(--color-border, color('border'));
  color: color('code');
  flex: 1 1 auto;
  flex-wrap: wrap;

  code {
    padding: size('shim');
  }
}
