// Preview Layouts
// ===============


// Color Preview
// -------------

.color-palette {
  display: flex;
  flex-wrap: wrap;
  margin: negative('shim');

  @supports (display: grid) {
    display: grid;
    grid-auto-rows: auto;
    grid-gap: size('gutter');
    grid-template-columns: repeat(auto-fit, minmax(size('color-preview'), 1fr));
    margin: 0;
  }
}

.color-preview {
  align-items: stretch;
  display: flex;
  flex: 1 0 size('color-preview');
  flex-direction: column;
  font-size: size('code');
  margin: size('shim');

  @supports (display: grid) {
    margin: 0;
  }
}


// Color Swatch
// ------------

.color-swatch {
  border: 1px solid color('border');
  height: size('color-swatch');
  min-width: size('color-swatch');
  position: relative;
}

.transparency-grid,
.color-overlay {
  @include position(0);
}

.transparency-grid {
  background: url('data:image/svg+xml;utf8,<svg version="1.1" xmlns="http://www.w3.org/2000/svg" x="0px" y="0px" viewBox="0 0 20 20"><rect width="10" height="10"/><rect x="10" y="10" width="10" height="10"/></svg>') center repeat scroll;
  background-size: 0.5em 0.5em;
  left: 50%;
}


// Color Info
// ----------

.color-name,
.color-value {
  display: block;
  padding: size('half-shim');
}

.color-name-option {
  display: inline-block;
}

.color-value {
  background-color: color('slight');
  border-radius: size('quarter-shim');
  box-shadow: 0 0 size('quarter-shim') color('code-shadow') inset;
  color: color('text-light');
  font-weight: normal;
  margin-top: size('quarter-shim');
  white-space: nowrap;
}
