// Examples
// ========

[data-sassdoc='example-tabs'] {
  @include font-size('smaller');
  font-weight: bold;
  letter-spacing: 0.02rem;

  [aria-controls] {
    display: inline-block;
    margin-right: 1px;
    padding: size('half-shim') size('shim');

    #{$link} {
      @include contrasted('light-gray');
    }

    #{$focus} {
      @include contrasted('theme-dark');
      text-decoration: none;
    }
  }

  [aria-selected='true'] {
    #{$link} {
      @include contrasted('theme-light');
    }

    #{$focus} {
      @include contrasted('theme-dark');
    }
  }
}


[data-sassdoc='example-panel'] {
  align-items: stretch;
  border: 1px solid color('theme-light');
  display: flex;
  flex-wrap: wrap;
  margin-bottom: size('gutter');

  [data-sassdoc='hljs'] {
    margin-bottom: 0; // override the hljs margin needed for non-nested blocks
  }

  &[aria-hidden='true'] {
    display: none;
  }
}

[data-sassdoc-example] {
  align-items: stretch;
  display: flex;
  flex: 1 1 40%;
  flex-direction: column;
  max-height: size('rhythm') * 12;
  max-width: 100%;
  min-width: 20em;
  overflow: auto;

  & + & {
    border-left: 1px solid color('theme-light');
  }
}

[data-sassdoc='example-header'] {
  @include contrasted('theme-light');
  @include font-size('smaller');
  flex: 0 0 auto;
  padding: 0 size('shim');

  + [data-sassdoc] {
    flex: 1 1 auto;
  }
}

[data-sassdoc='example-description'] {
  @include before(' – ');
  @include font-size('smallest');
}
