// Examples
// ========

[data-sassdoc='example-tabs'] {
  @include font-family('code');
  @include font-size('smaller');

  [aria-controls] {
    display: inline-block;
    padding: 0 size('shim');
  }

  [aria-selected='true'] {
    @include contrasted('text');
  }
}

[data-sassdoc='example-panel'] {
  align-items: stretch;
  border: 1px solid color('border');
  display: flex;
  flex-wrap: wrap;

  &[aria-hidden='true'] {
    display: none;
  }
}

[data-sassdoc-example] {
  align-items: stretch;
  display: flex;
  flex: 1 1 40%;
  flex-direction: column;
  max-height: size('rhythm') * 12;
  max-width: 100%;
  min-width: 20em;
  overflow: auto;

  & + & {
    border-left: 1px solid color('border');
  }
}

[data-sassdoc-title] {
  @include contrasted('light-gray');
  @include font-family('code');
  @include font-size('smaller');
  flex: 0 0 auto;
  padding: 0 size('shim');

  + [data-sassdoc] {
    flex: 1 1 auto;
  }
}

[data-sassdoc-rendered] {
  padding: size('shim');
}
