// Examples
// ========

@use '~accoutrement/sass/tools';

.example {
  margin-bottom: tools.size('gutter');
}

.example-code {
  align-items: stretch;
  display: flex;
  flex-wrap: wrap;
  overflow: hidden;
}

.example-render {
  border: 1px solid tools.color('border-light');
  border-top: 0;
  padding: tools.size('shim');
}
