// Examples
// ========

[data-sassdoc-example] {
  flex: 1 1 auto;
  margin: size('gutter') 0;

  [aria-hidden='true'] {
    display: none;
  }
}

[data-sassdoc='example-tabs'] {
  @include font-family('code');
  @include font-size('smaller');

  [aria-controls] {
    display: inline-block;
    padding: 0 size('shim');
  }

  [aria-selected='true'] {
    @include contrasted('text');
  }
}

[data-sassdoc='example-tab-solo'] {
  @include contrasted('text');
  display: inline-block;
  padding: 0 size('shim');
}

[data-sassdoc-example-panel] {
  border: 1px solid color('border');
  max-height: size('rhythm') * 12;
  max-width: 100%;
  overflow: auto;
}

[data-sassdoc-example-panel='output'] {
  padding: size('shim');
}

[data-sassdoc-examples='usage'] {
  display: flex;
  flex-wrap: wrap;
}

[data-sassdoc-example='visual-output'] {
  flex: 1 0 100%;
}

// [data-sassdoc-example-lang='scss'],
// [data-sassdoc-example-lang='css'] {
//   width: 50%;
// }
