// Font Specimen
// =============


.font-specimen {
  display: flex;
  flex-wrap: wrap;
  margin: size('gutter') negative('shim') 0;

  @supports (display: grid) {
    display: grid;
    grid-auto-rows: auto;
    grid-gap: size('gutter');
    grid-template-columns: repeat(auto-fit, minmax(size('font-preview'), 1fr));
    margin: size('gutter') 0 0;
  }
}


// Face
// ----

[data-specimen-face] {
  align-items: stretch;
  display: flex;
  flex: 1 0 size('font-preview');
  flex-direction: column;
  font-size: size('code');
  margin: size('shim');

  @supports (display: grid) {
    margin: 0;
  }
}

[data-specimen='sample'] {
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

[data-specimen='lorem'] {
  flex: 1 1 auto;
  padding-left: size('shim');

  span {
    display: block;
  }
}

[data-specimen='aa'] {
  flex: 0 1 auto;
  font-size: size('specimen-aa');
  padding-left: size('quarter-shim');
}
