@use 'pkg:accoutrement' as tools;

/// ## Syntax Highlighting
///
/// Orginal Style from ethanschoonover.com/solarized
/// (c) Jeremy Hull <sourdrums@gmail.com>
/// @group style-code
/// @see $hljs-colors

/// @group style-code
.hljs-comment,
.hljs-quote {
  color: tools.color('hljs-comment');
}

// Solarized Green
/// @group style-code
.hljs-keyword,
.hljs-selector-tag,
.hljs-addition {
  color: tools.color('hljs-green');
}

// Solarized Cyan
/// @group style-code
.hljs-number,
.hljs-string,
.hljs-meta .hljs-meta-string,
.hljs-literal,
.hljs-doctag,
.hljs-regexp {
  color: tools.color('hljs-cyan');
}

// Solarized Blue
/// @group style-code
.hljs-title,
.hljs-section,
.hljs-name,
.hljs-selector-id,
.hljs-selector-class {
  color: tools.color('hljs-blue');
}

// Solarized Yellow
/// @group style-code
.hljs-attribute,
.hljs-attr,
.hljs-variable,
.hljs-template-variable,
.hljs-class .hljs-title,
.hljs-type {
  color: tools.color('hljs-yellow');
}

// Solarized Orange
/// @group style-code
.hljs-symbol,
.hljs-bullet,
.hljs-subst,
.hljs-meta,
.hljs-meta .hljs-keyword,
.hljs-selector-attr,
.hljs-selector-pseudo,
.hljs-link {
  color: tools.color('hljs-orange');
}

// Solarized Red
/// @group style-code
.hljs-built_in,
.hljs-deletion {
  color: tools.color('hljs-red');
}

/// @group style-code
.hljs-formula {
  background: tools.color('hljs-formula');
}

/// @group style-code
.hljs-emphasis {
  font-style: italic;
}

/// @group style-code
.hljs-strong {
  font-weight: bolder;
}
