@use '../utilities';
@use '~accoutrement/sass/tools';

// Syntax Highlighting
// ===================
// Orginal Style from ethanschoonover.com/solarized
// (c) Jeremy Hull <sourdrums@gmail.com>

// hljs colors
// -----------
/// Colors for code-highlighting with hljs,
/// based on [Solarized-Light](https://ethanschoonover.com/solarized/)
/// & the Herman brand.
/// @group style-code
/// @colors
$hljs-colors: (
  'hljs-comment': #93a1a1,
  'hljs-green': #859900,
  'hljs-cyan': #2aa198,
  'hljs-blue': #268bd2,
  'hljs-yellow': #b58900,
  'hljs-orange': #cb4b16,
  'hljs-red': #dc322f,
  'hljs-formula': #eee8d5,
);

@include utilities.add('colors', 'hljs-colors', $hljs-colors);

.hljs-comment,
.hljs-quote {
  color: tools.color('hljs-comment', $source: $hljs-colors);
}

// Solarized Green
.hljs-keyword,
.hljs-selector-tag,
.hljs-addition {
  color: tools.color('hljs-green', $source: $hljs-colors);
}

// Solarized Cyan
.hljs-number,
.hljs-string,
.hljs-meta .hljs-meta-string,
.hljs-literal,
.hljs-doctag,
.hljs-regexp {
  color: tools.color('hljs-cyan', $source: $hljs-colors);
}

// Solarized Blue
.hljs-title,
.hljs-section,
.hljs-name,
.hljs-selector-id,
.hljs-selector-class {
  color: tools.color('hljs-blue', $source: $hljs-colors);
}

// Solarized Yellow
.hljs-attribute,
.hljs-attr,
.hljs-variable,
.hljs-template-variable,
.hljs-class .hljs-title,
.hljs-type {
  color: tools.color('hljs-yellow', $source: $hljs-colors);
}

// Solarized Orange
.hljs-symbol,
.hljs-bullet,
.hljs-subst,
.hljs-meta,
.hljs-meta .hljs-keyword,
.hljs-selector-attr,
.hljs-selector-pseudo,
.hljs-link {
  color: tools.color('hljs-orange', $source: $hljs-colors);
}

// Solarized Red
.hljs-built_in,
.hljs-deletion {
  color: tools.color('hljs-red', $source: $hljs-colors);
}

.hljs-formula {
  background: tools.color('hljs-formula', $source: $hljs-colors);
}

.hljs-emphasis {
  font-style: italic;
}

.hljs-strong {
  font-weight: bolder;
}
