// Icon Preview
// ============

[data-sassdoc='icon-preview'] {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(220px, 1fr));
  margin: 0 negative('shim');
}

[data-sassdoc-icon] {
  margin: size('gutter') size('shim');
  min-width: size('rhythm') * 5;

  [data-icon] {
    @include square('h1');
    margin-bottom: size('shim');
  }
}

[data-sassdoc='icon-info'] {
  font-size: size('xsmall');
}

[data-item-section='icon-preview'] {
  .item-subtitle-supplement {
    @include font-family('code');
  }
}
