// Icon Preview
// ============

@use '~accoutrement/sass/tools';

[data-sassdoc='icon-preview'] {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(220px, 1fr));
  margin: 0 tools.negative('shim');
}

[data-sassdoc-icon] {
  margin: tools.size('gutter') tools.size('shim');
  min-width: tools.size('rhythm') * 5;

  [data-icon] {
    @include tools.square('h1');
    margin-bottom: tools.size('shim');
  }
}

[data-sassdoc='icon-info'] {
  font-size: tools.size('code');
}
