// Ratio Preview
// =============


// Rulers
// ------

.rulers {
  width: 100%;

  @include below('nav-medium') {
    display: block;

    tr {
      display: flex;
      flex-wrap: wrap;
    }

    td {
      display: block;
      text-align: left;
    }
  }
}

.ruler-name,
.ruler-value {
  flex: 0 1 5ch;
  padding: size('quarter-shim') size('shim');
  white-space: nowrap;

  @include below('nav-medium') {
    padding-bottom: 0;
  }
}

.ruler-name {
  text-align: right;
}

.ruler-viz {
  padding: size('quarter-shim') size('shim');
  width: 100%;

  @include below('nav-medium') {
    padding-bottom: size('half-shim');
  }
}

.ruler-bar {
  background-color: color('border');
  border-radius: size('quarter-shim');
  display: inline-block;
}


// Ratios
// ------

.ratio-base {
  background-color: color('callout');

  .ruler-bar {
    background-color: color('action');
  }
}


// Sizes
// -----

.size-output {
  margin-bottom: size('shim');
}

.size-heading {
  @include font-family('code');
  font-weight: normal;
}

.size-text {
  margin-bottom: size('gutter-minus');
}
