// Ratio Preview
// =============


//
// @TODO: Add docs to block-size-table!
//
@mixin block-size-table {
  display: block;

  tbody {
    display: block;
    max-width: 100%;
  }

  tr {
    display: flex;
    flex-wrap: wrap;
  }

  td {
    display: block;
    flex: 0 0 auto;
    text-align: left;

    + td {
      border-left: 0;
    }
  }

  .size-name,
  .size-value {
    padding-bottom: 0;
  }

  .size-viz {
    flex: 0 0 100%;
    max-width: initial;
  }

  .size-overflow,
  .is-text {
    padding-bottom: size('shim');
  }
}


// Rulers
// ------

.sizes {
  width: 100%;

  td {
    overflow: hidden;
    padding: size('quarter-shim') size('shim');
    vertical-align: baseline;

    + td {
      border-left: 1px solid color('border-light');
    }
  }

  &.is-large {
    @include block-size-table;
  }

  @include below('item-break') {
    @include block-size-table;
  }
}

.size {
  max-width: 100%;
}

.size-name,
.size-value {
  color: color('text-light');
  flex: 0 1 5ch;
  font-size: size('code');
  white-space: nowrap;
}

.size-viz {
  max-width: 0;
  overflow-x: auto;
  width: 100%;

  &.is-text {
    overflow-x: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
}

.size-overflow {
  max-width: 100%;
  overflow-x: auto;
}

.size-bar {
  background-color: color('border');
  background-image:
  linear-gradient(
    to left,
    color('underline') 1px,
    transparent 1px,
    transparent
  ),
  linear-gradient(
    to left,
    color('border-light' ('rgba': 0.5)) 1px,
    transparent 1px,
    transparent
  ),
  linear-gradient(
    to left,
    color('border-light' ('rgba': 0.25)) 1px,
    transparent 1px,
    transparent
  );
  background-position: 0 100%;
  background-repeat: repeat-x;
  background-size: 100px 75%, 10px 50%, 5px 25%;
  border-radius: size('quarter-shim');
  display: inline-block;
}

.size-text {
  line-height: 1.2;
}


// Ratios
// ------

.ratio-base {
  background-color: color('callout');

  .size-bar {
    background-color: color('action');
  }
}
