@use 'pkg:accoutrement' as tools;

:root {
  line-height: tools.ratio('line-height');
}

body {
  overflow-x: hidden;
}

[data-herman-label],
[data-herman-th],
[data-herman-code] {
  // These items are purposely sized without root-based
  // units in order to make them appear similar in size
  // no matter what the default root size is in a project.
  font-size: clamp(14px, calc(60% + 0.8vw), 18px);
}

[data-herman-label],
[data-herman-th] {
  font-family:
    system-ui,
    -apple-system,
    BlinkMacSystemFont,
    'Segoe UI',
    Roboto,
    Oxygen,
    Ubuntu,
    Cantarell,
    'Fira Sans',
    'Droid Sans',
    'Helvetica Neue',
    sans-serif;
}

[data-herman-code] {
  font-family:
    Consolas, Menlo, Monaco, 'Lucida Console', 'Liberation Mono',
    'DejaVu Sans Mono', 'Bitstream Vera Sans Mono', 'Courier New', monospace;
  font-weight: inherit;
}

[data-herman-table] {
  max-width: 100%;
}

[data-herman-th] {
  padding-bottom: 1em;
  text-align: left;
}

[data-herman-th='spacer'] {
  width: 100%;
}

[data-herman-label] {
  background: var(--herman-label-color);
  margin: var(--herman-label-margin, 0.5em 0);
  padding: var(--herman-label-padding, 0.25em 0);
}

[data-herman-th],
[data-herman-cell] {
  background: var(--herman-cell-color);
  padding: 0.25rem 0.5rem;
  white-space: nowrap;

  &[data-herman-label] {
    background: var(--herman-label-color, var(--herman-cell-color));
  }
}
