@use '~accoutrement/sass/tools';

[data-herman-label],
[data-herman-th] {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
    Oxygen, Ubuntu, Cantarell, 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
}

[data-herman-code] {
  font-family: Consolas, Menlo, Monaco, 'Lucida Console', 'Liberation Mono',
    'DejaVu Sans Mono', 'Bitstream Vera Sans Mono', 'Courier New', monospace;
  font-size: tools.size('code');
  font-weight: inherit;
}

[data-herman-table] {
  max-width: 100%;
}

[data-herman-th] {
  padding-bottom: 1em;
  text-align: left;
}

[data-herman-th='spacer'] {
  width: 100%;
}

[data-herman-label] {
  background: var(--herman-label-color);
  margin: var(--herman-label-margin, 0.5em 0);
  padding: var(--herman-label-padding, 0.25em 0);
}

[data-herman-th],
[data-herman-cell] {
  background: var(--herman-cell-color);
  padding: 0.25rem 0.5rem;
  white-space: nowrap;

  &[data-herman-label] {
    background: var(--herman-label-color, var(--herman-cell-color));
  }
}
