// Preview Layouts
// ===============

@use '~accoutrement/sass/tools';

// Color Preview
// -------------

[data-herman-preview='colors'] {
  @include tools.colors--;
}

.color-palette {
  display: flex;
  flex-wrap: wrap;
  margin: tools.negative('shim');

  @supports (display: grid) {
    display: grid;
    grid-auto-rows: auto;
    grid-gap: tools.size('gutter');
    grid-template-columns: repeat(
      auto-fit,
      minmax(tools.size('color-preview'), 1fr)
    );
    margin: 0;
  }
}

.color-preview {
  align-items: stretch;
  display: flex;
  flex: 1 0 tools.size('color-preview');
  flex-direction: column;
  font-size: tools.size('code');
  margin: tools.size('shim');

  @supports (display: grid) {
    margin: 0;
  }
}

// Color Swatch
// ------------

.color-swatch {
  border: 1px solid tools.color('border');
  height: tools.size('color-swatch');
  min-width: tools.size('color-swatch');
  position: relative;
}

.transparency-grid,
.color-overlay {
  inset: 0;
  position: absolute;
}

.transparency-grid {
  background: url('data:image/svg+xml;utf8,<svg version="1.1" xmlns="http://www.w3.org/2000/svg" x="0px" y="0px" viewBox="0 0 20 20"><rect width="10" height="10"/><rect x="10" y="10" width="10" height="10"/></svg>')
    center repeat scroll;
  background-size: 0.5em 0.5em;
  left: 50%;
}

// Color Info
// ----------

.color-name,
.color-value {
  display: block;
  padding: tools.size('half-shim');
}

.color-name-option {
  display: inline-block;
}

.color-value {
  background-color: tools.color('slight');
  border-radius: tools.size('quarter-shim');
  box-shadow: 0 0 tools.size('quarter-shim') tools.color('code-shadow') inset;
  color: tools.color('text-light');
  font-weight: normal;
  margin-top: tools.size('quarter-shim');
  white-space: nowrap;
}
