{% import 'item/preview.macros.j2' as preview %}

{% set item_data = sassjson[data.currentGroup][item.context.name] %}

<section data-sassdoc-item='{{ type }}' id="{{ type }}--{{ item.context.name }}">
  <h4 data-sassdoc="item-title">{{ item.context.name }}</h4>

  {% if item.description %}
    <div data-sassdoc="item-description">{{ item.description|safe }}</div>
  {% endif %}

  {{ preview.show_data(item_data, data.currentGroup) }}

  {% if item.example.length > 0 %}
    {% for example in item.example %}
      <div data-sassdoc="example">
        {% if example.description %}
          <div data-sassdoc="example-description">{{ example.description|safe }}</div>
        {% endif %}
        <pre data-sassdoc-highlight="{{ example.type }}"><code>{{ example.code|escape|safe }}</code></pre>
      </div>
    {% endfor %}
  {% endif %}

  {{ preview.code_block(item, type) }}
</section>
