{% import 'item/macros.j2' as code %}
{% import 'item/preview.macros.j2' as preview %}

<section data-sassdoc-item='{{ type }}' id="{{ type }}--{{ item.context.name }}">
  {% set item_name = [item.context.name, '()']|join('') if (type == 'mixin' or type == 'function') else item.context.name %}
  {% set item_name = ['$', item_name]|join('') if type == 'variable' else item_name %}
  <h4 data-sassdoc="item-title">
    <span data-sassdoc="item-name">{{ item_name }}</span>
    <span data-sassdoc="item-type">{{ type }}</span>
  </h4>

  {% if item.description %}
    <div data-sassdoc="item-description">{{ item.description|safe }}</div>
  {% endif %}

  {{ code.source(item, type) }}

  {{ code.examples(item.example) }}

  {{ preview.show_previews(
    data=sassjson,
    name=item.context.name,
    args=item.preview
    ) }}

  {{ preview.icons(item.icons) }}
</section>
