{% import 'item/macros.j2' as show %}
{% import 'item/annotation.macros.j2' as annotation %}
{% import 'item/preview.macros.j2' as preview %}

{% set slug = item.context.name|urlencode|replace("'", '') %}
{% set id = [type, slug]|join('--') %}

<section class="item" id="{{ id }}">
  {{ show.heading(item, type, id) }}
  {{ show.source(item, type) }}
  {{ show.summary(item.description) }}

  {{ annotation.param_or_prop(item.parameter, item.property) }}

  {{ annotation.link(item) }}
  {{ annotation.see(item, display_private) }}
  {{ annotation.require(item, display_private) }}
  {{ annotation.todo(item) }}

  {{ annotation.examples(item.example, id) }}

  {{ preview.icons(item.icons) }}
  {{ preview.show_previews(
    data=sassjson,
    name=item.context.name,
    args=item.preview
    ) }}
</section>
