{% import 'utility.macros.j2' as utility %}
{% import 'item/macros.j2' as show %}


{# Section template #}
{% macro item_section(slug, title=none) %}
  {% set title = title if title else slug %}

  <div data-item-section="{{ slug }}">
    <h3 class="item-subtitle">{{ title }}</h3>
    {{ caller() }}
  </div>
{% endmacro %}


{# Parameter list template #}
{% macro param_list(name=none, url=none, item_type=none, value=none, value_type=none, note=none, description=none) %}
  <div class="param-list">
    <h4 class="param-title">
      {% if item_type and (item_type != '') -%}
        <span class="item-type">{{ item_type }}</span>
      {%- endif %}
      {% if name %}
        {{ utility.link_if(
          content=name,
          url=url,
          attrs={'class': 'item-name'}
          ) }}
      {% endif %}
      {% if value -%}
        <span class="item-value">{{ value }}</span>
      {%- endif %}
      {% if value_type -%}
        <span class="value-type">({{ value_type }})</span>
      {%- endif %}
      {% if note -%}
        <span class="item-note">[{{ note }}]</span>
      {%- endif %}
    </h4>

    {% if description %}
      {% set description = ['<p>', description, '</p>']|join if not ('</' in description) else description %}
      <div class="param-details">
        {{ description|safe }}
      </div>
    {% endif %}
  </div>
{% endmacro %}


{# @param & @prop groups #}
{% macro param_or_prop(params_data, props_data, return_data) %}
  {% set data = params_data or props_data %}
  {% set type = 'property' if (data == props_data) else 'parameter' %}
  {% set header = 'Map Properties' if (data == props_data) else 'Parameters' %}

  {% if data or return_data %}
    {% call item_section(type, header) %}
      {% for item in data %}
        {{ param(name, item, type) }}
      {% endfor %}

      {{ return(return_data) }}
    {% endcall %}
  {% endif %}
{% endmacro %}


{# @param & @prop items #}
{% macro param(name, item, type) %}
  {% set name = ['$', item.name, ':']|join if (type == 'parameter') else item.name %}
  {% set name = [name, '…']|join if (item.type|lower == 'arglist') else name %}

  {{ param_list(
    name=name,
    value=item.default,
    value_type=item.type,
    description=item.description
    ) }}
{% endmacro %}


{# @return annotation #}
{% macro return(data) %}
  {% if data %}
    {{ param_list(
      name='@return',
      value_type=data.type,
      description=data.description
      ) }}
  {% endif %}
{% endmacro %}


{# @require annotation #}
{% macro requires(item, display_private=false) -%}
  {% if (item.require|length > 0) %}
    {% call item_section('requires') %}
      {% set prev = '' %}

      {% for req in item.require %}
        {% set name = req.name if req.name else req.item.context.name %}
        {% set type = req.type if req.type else (req.item.context.type or none) %}
        {% set check = [name|string(), type|string()]|join('') %}

        {% if not (check in prev) %}
          {% set prev = [prev, ', ', check]|join if (prev != '') else check %}
          {{ require_item(req, display_private) }}
        {% endif %}
      {% endfor %}
    {% endcall %}
  {% endif %}
{%- endmacro %}


{# @require items #}
{% macro require_item(req, display_private=false) %}
  {% set require_name = show.format_name(req.name, req.type) %}
  {% set require_type = show.format_type(req.type) %}
  {% set is_hidden = true if (req.item.access == 'private' and not display_private) else false %}
  {% set require_url = none if is_hidden else show.get_link(req.name, req.type, req.item.group) %}
  {% set require_url = req.url if req.url else require_url %}
  {% set value_type = req.item.type if (req.type == 'variable') else none %}
  {% set note = 'private' if (req.item.access == 'private') else none %}
  {% set note = 'external' if req.external else note %}

  {{ param_list(
    name=require_name,
    url=require_url,
    item_type=require_type,
    value_type=value_type,
    note=note,
    description=req.description
    ) }}
{% endmacro %}


{# @link and @see annotations #}
{% macro related(item, display_private=false) -%}
  {% if (item.link.length > 0) or (item.see.length > 0) %}

    {% call item_section('related') %}
      {% for link in item.link %}
        {{ link_item(link) }}
      {% endfor %}

      {% for see in item.see %}
        {{ see_item(see, display_private) }}
      {% endfor %}
    {% endcall %}
  {% endif %}
{%- endmacro %}


{# @link items #}
{% macro link_item(link) %}
  {% set note = 'external' if ('://' in link.url) else none %}

  {{ param_list(
    name=link.caption or link.url,
    url=link.url,
    note=note
    ) }}
{% endmacro %}


{# @see items #}
{% macro see_item(item, display_private=false) %}
  {% set private = (item.access == 'private') and (not display_private) %}
  {% set url = show.get_link(item.context.name, item.context.type, item.group) if not private else none %}
  {% set name = show.format_name(item.context.name, item.context.type) %}
  {% set type = show.format_type(item.context.type) %}
  {% set note = 'private' if private else none %}

  {{ param_list(
    name=name,
    url=url,
    item_type=type,
    value_type=value_type,
    note=note,
    description=item.context.description
    ) }}
{% endmacro %}


{# @todo annotation #}
{% macro todo(item) %}
  {% if (item.todo.length > 0) %}
    {% call item_section('todo', 'To-do List') %}
      <ul>
        {% for todo in item.todo %}
          <li data-sassdoc="todo-item">
            {{ todo|safe }}
          </li>
        {% endfor %}
      </ul>
    {% endcall %}
  {% endif %}
{% endmacro %}
