{% import 'utility.macros.j2' as utility %}
{% import 'item/macros.j2' as show %}


{# @param & @prop groups #}
{% macro param_or_prop(params_data, props_data) %}
  {% set data = params_data or props_data %}

  {% if data %}
    {% set type = 'property' if (data == props_data) else 'parameter' %}
    {% set header = 'Map Properties' if (data == props_data) else 'Parameters' %}

    <div data-item-section="{{ type }}">
      <h4 class="item-subtitle">{{ header }}</h4>

      {% for item in data %}
        {{ param(name, item, type) }}
      {% endfor %}
    </div>
  {% endif %}
{% endmacro %}


{# @param & @prop items #}
{% macro param(name, item, type) %}
  {% set name = ['$', item.name]|join if (type == 'parameter') else item.name %}
  {% set name = [name, '…']|join if (item.type|lower == 'arglist') else name %}
  <div class="parameter">
    <h5 class="param-title">
      <span class="param-name">{{ name }}</span>
      {%- if item.default %}:
        <span class="param-default">{{ item.default }}</span>
      {% endif %}

      {% if item.type %}
        <span class="param-type">({{ item.type }})</span>
      {% endif %}
    </h5>

    {% if item.description %}
      {{ item.description|safe }}
    {% endif %}
  </div>
{% endmacro %}


{# @require annotation #}
{% macro requires(item, display_private=false) -%}
  {% set has_count = true if (item.require|length > 0) or display_private else none %}

  {% if not display_private %}
    {% for check in item.require %}
      {% set has_count = true if ('public' in check.item.access) else has_count %}
    {% endfor %}
  {% endif %}

  {% if has_count %}
    <div data-item-section="require">
      <h4 class="item-subtitle">Requires</h4>

      {% set prev = '' %}
      {% for req in item.require %}
        {% set name = req.name if req.name else req.item.context.name %}
        {% set type = req.type if req.type else (req.item.context.type or none) %}
        {% set check = [name|string(), type|string()]|join('') %}
        {% set display = display_private or ('public' in req.item.access) %}

        {% if display and not (prev == check) %}
          {% set prev = check %}
          {{ require_item(req) }}
        {% endif %}
      {% endfor %}
    </div>
  {% endif %}
{%- endmacro %}


{# @require items #}
{% macro require_item(req) %}
  <div class="parameter">
    {% set require_name = req.name if req.name else req.item.context.name %}
    {% set require_type = req.type if req.type else (req.item.context.type or none) %}
    {% set require_url = req.url if req.url else show.get_link(require_name, req.item.context.type, req.item.group) %}
    {% set require_name = show.format_name(require_name, require_type) %}
    {% set require_type = show.format_type(require_type) %}
    {% set require_desc = require.description %}

    <h5 class="param-title">
      {% if require_type %}
        <span class="param-default">{{ require_type }}</span>
      {% endif %}

      {{ utility.link_if(
        content=require_name,
        url=require_url,
        attrs={'class': 'param-name'}
        ) }}

      {% if require.external %}
        <span class="param-type">[external]</span>
      {% elif (require.item.access == 'private') %}
        <span class="param-type">[private]</span>
      {% endif %}
    </h5>

    {% if require.description %}
      <p>{{ require.description|safe }}</p>
    {% endif %}
  </div>
{% endmacro %}


{# @link and @see annotations #}
{% macro related(item, display_private=false) -%}
  {% if (item.link.length > 0) or (item.see.length > 0) %}
    <div data-item-section="link">
      <h4 class="item-subtitle">Related</h4>

      {% for link in item.link %}
        {{ link_item(link) }}
      {% endfor %}

      {% for see in item.see %}
        {{ see_item(see, display_private) }}
      {% endfor %}
    </div>
  {% endif %}
{%- endmacro %}


{# @link items #}
{% macro link_item(link) %}
  <div class="parameter">
    <h5 class="param-title">
      {{ utility.link_if(
        content=link.caption or link.url,
        url=link.url,
        attrs={'class': 'param-name'}
        ) }}

      {% if '://' in link.url %}
        <span class="param-type">[external]</span>
      {% endif %}
    </h5>
  </div>
{% endmacro %}


{# @see items #}
{% macro see_item(item, display_private=false) %}
  {% set private = (item.access == 'private') and (not display_private) %}
  {% set url = show.get_link(item.context.name, item.context.type, item.group) %}
  {% set text = show.format_name(item.context.name, item.context.type) %}
  {% set type = show.format_type(item.context.type) %}

  <div class="parameter">
    {% if type and (type != '') %}
      <span class="param-default">
        {{ type }}
      </span>
    {% endif %}

    <h5 class="param-title">
      {{ utility.link_if(
        content=text,
        url=url,
        attrs={'class': 'param-name'}
        ) }}

      {% if private %}
        <span class="param-type">[private]</span>
      {% endif %}
    </h5>

    {% if item.context.description %}
      {{ item.context.description }}
    {% endif %}
  </div>
{% endmacro %}


{# @todo annotation #}
{% macro todo(item) -%}
  {% if item.todo.length > 0 %}
    <div data-item-section="todo">
      <h4 class="item-subtitle">Todo List</h4>
      <ul>
        {% for todo in item.todo %}
          <li data-sassdoc="todo-item">
            {{ todo|safe }}
          </li>
        {% endfor %}
      </ul>
    </div>
  {% endif %}
{%- endmacro %}


{# @example annotation #}
{% macro example_code(language, code, description=false) %}
  <div data-sassdoc-example="{{ language }}">
    <div data-sassdoc="example-header">
      <span data-sassdoc="example-language">
        {{ language }}
      </span>

      {% if description %}
        <span data-sassdoc='example-description'>
          {{ description|striptags }}
        </span>
      {% endif %}
    </div>
    {{ utility.code_block(language=language, content=code|escape|safe) }}
  </div>
{% endmacro %}


{% macro example_tabs(examples_list, group) %}
  {% set lang_types = {
    'njk': 'markup',
    'html': 'markup',
    'j2': 'markup',
    'css': 'style',
    'scss': 'style',
    'sass': 'style',
    'js': 'interaction',
    'javascript': 'interaction'
  } %}

  <div data-sassdoc="example-tabs">
    {% for example in examples_list %}
      {% if not (example.description|striptags == 'compiled') %}
        {{ utility.tab(
          id=[group, example.type]|join('_'),
          group=group,
          content=lang_types[example.type],
          active=true if loop.first else false
          ) }}
      {% endif %}
    {% endfor %}
  </div>
{% endmacro %}


{% macro example_panels(examples_list, group) %}
  {% set render_types = {
    'njk': 'html',
    'scss': 'css',
    'sass': 'css'
  } %}

  {% for example in examples_list %}
    {% if not (example.description|striptags == 'compiled') %}
      {# Get compiled language and code, if available from `rendered` or `next` #}
      {% set rendered = example.rendered if (example.rendered and render_types[example.type]) else none %}
      {% set rendered_type = render_types[example.type] if rendered else none %}
      {% set next = examples_list[loop.index] %}
      {% set next = next if (next.description|striptags == 'compiled') else none %}
      {% set next_type = next.type if next else none %}
      {% set next_code = next.code if next else none %}
      {% set compiled_type = rendered_type or next_type %}
      {% set compiled_code = rendered or next_code %}

      {% call utility.tab_panel(
        id=[group, example.type]|join('_'),
        group=group,
        active=true if loop.first else false
        ) %}

        {{ example_code(
          language=example.type,
          code=example.code,
          description=example.description
          ) }}

        {% if compiled_code %}
          {{ example_code(
            language=compiled_type,
            code=compiled_code,
            description='compiled'
            ) }}
        {% endif %}
      {% endcall %}
    {% endif %}
  {% endfor %}
{% endmacro %}


{% macro examples(examples_list, id) %}
  {% set group = ['examples', id]|join('_') %}

  {{ example_tabs(
    examples_list=examples_list,
    group=group
    ) }}

  {{ example_panels(
    examples_list=examples_list,
    group=group
    ) }}

  {% for example in examples_list %}
    {% if example.rendered and example.type != 'scss' %}
      <div data-sassdoc-rendered="{{ example.type }}">
        {{ example.rendered|safe }}
      </div>
    {% endif %}
  {% endfor %}
{% endmacro %}
