{% import 'utility.macros.j2' as utility %}


{# @example annotation #}
{% macro list(examples_list, id) %}
  {% if examples_list %}
    {% set title = 'Examples' if (examples_list.length > 1) else 'Example' %}
    {% set group = ['examples', id]|join('_') %}

    <div data-item-section="examples">
      <h3 class="item-subtitle">{{ title }}</h3>

      {{ tabs(
        examples_list=examples_list,
        group=group
        ) }}

      {{ panels(
        examples_list=examples_list,
        group=group
        ) }}

      {% for example in examples_list %}
        {% if example.rendered and example.type != 'scss' %}
          <div data-sassdoc-rendered="{{ example.type }}">
            {{ example.rendered|safe }}
          </div>
        {% endif %}
      {% endfor %}
    </div>
  {% endif %}
{% endmacro %}


{% macro tabs(examples_list, group) %}
  {% set lang_types = {
    'njk': 'markup',
    'html': 'markup',
    'j2': 'markup',
    'css': 'style',
    'scss': 'style',
    'sass': 'style',
    'js': 'interaction',
    'javascript': 'interaction'
  } %}

  {% if (examples_list.length > 1) %}
    <div class="example-tabs">
      {% for example in examples_list %}
        {{ utility.tab(
          id=[group, example.type]|join('_'),
          group=group,
          content=lang_types[example.type],
          active=true if loop.first else false
          ) }}
      {% endfor %}
    </div>
  {% endif %}
{% endmacro %}


{% macro panels(examples_list, group) %}
  {% set render_types = {
    'njk': 'html',
    'scss': 'css',
    'sass': 'css'
  } %}

  {% set has_tabs = true if (examples_list.length > 1) else false %}

  {% for example in examples_list %}
    {# Get compiled language and code, if available from `rendered` #}
    {% set rendered_type = render_types[example.type] if example.rendered else none %}
    {% set rendered = example.rendered if rendered_type else none %}

    {% set content = utility.code_block(
      language=example.type,
      content=example.code,
      description=example.description
      ) %}

    {% set compiled = utility.code_block(
      language=rendered_type,
      content=rendered,
      description='compiled'
      ) if rendered else '' %}

    {% if has_tabs %}
      {{ utility.tab_panel(
        id=[group, example.type]|join('_'),
        group=group,
        content=content + compiled,
        active=true if loop.first else false
        ) }}
    {% else %}
      <div class="example-panel">
        {{ (content + compiled)|safe }}
      </div>
    {% endif %}
  {% endfor %}
{% endmacro %}
