{% import 'utility.macros.j2' as utility %}


{% macro heading(item, type, id) %}
  {% set item_name = [item.context.name, '()']|join if (type == 'mixin' or type == 'function') else item.context.name %}
  {% set item_name = ['$', item_name]|join if (type == 'variable') else item_name %}
  {% set display_type = ['@', type]|join if ((type == 'mixin') or (type == 'function')) else type %}
  {% set display_type = none if ((type == 'variable') or (type == 'css')) else display_type %}
  {% set display_private = display and display.access and 'private' in display.access %}

  <header data-item-section="header">
    <h3 class="item-title">
      {% if display_type %}
        <span class="item-type">{{ display_type }}</span>
      {% endif %}

      <a href="#{{ id }}" class="item-name">{{ item_name }}</a>

      {% if item.type %}
        <span class="var-type">({{ item.type }})</span>
      {% endif %}
    </h3>

    {{ alias(
      is_alias=item.alias,
      has_alias=item.aliased,
      type=type
      ) }}
  </header>
{% endmacro %}


{% macro alias(is_alias, has_alias, type) %}
  {% if is_alias or has_alias %}
    {% set alias_intro = 'alias for' if is_alias else 'aliased as' %}
    {% set alias_text = is_alias if is_alias else has_alias %}
    {% set alias_text = [alias_text, '()']|join if ((type == 'mixin') or (type == 'function')) else alias_text %}
    {% set alias_url = get_link(is_alias or has_alias) %}
    {% set alias_url = alias_url if (alias_url != '') else none %}

    <p class="alias">
      <span class="alias-intro">{{ alias_intro }}</span>
      {{ utility.link_if(
        content=alias_text,
        url=alias_url,
        attrs={'class': 'alias-link'}
        ) }}
    </p>
  {% endif %}
{% endmacro %}


{% macro get_link(item) -%}
  {%- set slug = item.context.name|urlencode|replace("'", '') if item.context.name else item -%}
  {%- set id = [type, slug]|join('--') -%}
  {%- set url = [item.group, '.html#', id]|join() if item.group else ['#', id]|join('')  -%}
  {{ url }}
{%- endmacro %}


{% macro source(item, type) %}
  {%- if not ((type == 'mixin') or (type == 'function')) -%}
    {% set code = scss_variable(item) if (type == 'variable') else none %}
    {% set code = scss_css(item) if (type == 'css') else code %}

    <div data-item-section="source">
      {{ utility.code_block(language='scss', content=code|escape|safe) }}
    </div>
  {%- endif -%}
{% endmacro %}


{% macro summary(content) %}
  {% if content %}
    <div data-item-section="summary">
      <h4 class="item-subtitle">Description</h4>
      {{ content|safe }}
    </div>
  {% endif %}
{% endmacro %}


{% macro scss_variable(item) -%}
${{ item.context.name }}: {{ item.context.value }}{% if item.context.scope != 'private' %} !{{ item.context.scope }}{% endif %};
{%- endmacro %}


{%- macro scss_css(item) -%}
{{ item.context.name }} {
  {{ item.context.value }}
}
{%- endmacro -%}
