{% import 'utility.macros.j2' as utility %}


{% macro code_block(language=none, content=none) %}
  {% set content = content if (content != none) else caller() %}
  {% set language = 'jinja' if language == 'njk' else language %}
  {% set language = ['lang', language]|join('-') if language != none %}
  <pre data-sassdoc="hljs"><code{% if language %} class="{{ language }}"{% endif %}>{{ content }}</code></pre>
{% endmacro %}


{% macro source(item, type) %}
{%- call code_block(language='scss') -%}
  {%- if (type == 'variable') -%}
    {{ scss_variable(item) }}
  {%- elif (type == 'css') -%}
    {{ scss_css(item) }}
  {%- elif (type == 'function') or (type == 'mixin') -%}
    {{ scss_function_or_mixin(item) }}
  {%- endif -%}
{%- endcall -%}
{% endmacro %}


{% macro scss_variable(item) -%}
${{ item.context.name }}: {{ item.context.value }}{% if item.context.scope != 'private' %} !{{ item.context.scope }}{% endif %};
{%- endmacro %}


{% macro scss_function_or_mixin(item) -%}
@{{ item.context.type }} {{ item.context.name }}{% if item.parameter %}(
{%- for parameter in item.parameter %}
  ${{ parameter.name }}{% if parameter.type|lower == "arglist" %}...{% elif parameter.default %}: {{ parameter.default }}{% endif %}{% if not loop.last %},{% endif %}
{%- endfor %}
){% endif %} { /* ... */ }
{%- endmacro %}

{%- macro scss_css(item) -%}
{{ item.context.name }} {
  {{ item.context.value }}
}
{%- endmacro -%}


{# @param annotation #}
{% macro parameter(item) -%}
  {% if item.parameter %}
    <div data-sassdoc="parameters">
      <h5 class="item-subtitle">Parameters</h5>
      <table data-sassdoc="parameters-table">
        <thead>
          <tr scope="row">
            <th scope="col">Name</th>
            <th scope="col">Description</th>
            <th scope="col">Type</th>
            <th scope="col">Default</th>
          </tr>
        </thead>
        <tbody>
          {%- for parameter in item.parameter %}
          <tr data-sassdoc="parameter-item">
            <td scope="row" data-label="name"><code>${{ parameter.name }}</code></td>
            <td data-label="desc">{% if parameter.description %}{{ parameter.description|safe }}{% endif %}</td>
            <td data-label="type"><code>{% if parameter.type %}{{ parameter.type }}{% endif %}</code></td>
            <td data-label="default">{% if not parameter.default %}
                &mdash;<span class="visually-hidden"> none</span>
              {% else %}
                <code>{{ parameter.default }}</code>
              {% endif %}
            </td>
          </tr>
          {%- endfor %}
        </tbody>
      </table>
    </div>
  {% endif %}
{%- endmacro %}


{# @require annotation #}
{% macro require(item) -%}
  {% if item.require.length > 0 %}
    <div data-sassdoc="item-description">
      <h5 class="item-subtitle">Requires</h5>
      <ul>
        {% for require in item.require %}
          {# External links #}
          {% if require.external %}
            <li data-sassdoc="requires-item"><code>[external]</code>
              {% if require.url %}
                <a href="{{ require.url }}"><code>{{ require.name }}</code></a> {{ require.description }}</li>
              {% else %}
                <code>{{ require.name }}</code>
              {% endif %}
              {% if require.description %}
                &mdash; {{ require.description }}
              {% endif %}
            </li>

          {# Internal links #}
          {% else %}
            <li data-sassdoc="requires-item">
              <code>[{{ require.item.context.type }}]</code>
              <a href="{{ require.item.group }}.html#{{ require.item.context.type }}--{{ require.item.context.name }}"><code>{{ require.item.context.name }}</code></a>
              {% if require.description %}
                &mdash; {{ require.description }}
              {% endif %}
            </li>
          {% endif %}
        {% endfor %}
      </ul>
    </div>
  {% endif %}
{%- endmacro %}


{# @link annotation #}
{% macro link(item) -%}
  {% if item.link.length > 0 %}
    <div data-sassdoc="item-description">
      <h5 class="item-subtitle">Links</h5>
      <ul>
        {% for link in item.link %}
          <li data-sassdoc="link-item">
            <a href="{{ link.url }}">
              {% if link.caption %}
                {{ link.caption }}
              {% else %}
                {{ link.url }}
              {% endif %}
            </a>
          </li>
        {% endfor %}
      </ul>
    </div>
  {% endif %}
{%- endmacro %}

{# @see annotation #}
{% macro see(item) -%}
  {% if item.see.length > 0 %}
    <div data-sassdoc="item-description">
      <h5 class="item-subtitle">See</h5>
      <ul>
        {% for see in item.see %}
          <li data-sassdoc="see-item">
            <a href="/{{ see.group }}.html#{{ see.context.type }}--{{ see.context.name }}">{{ see.context.name }}</a>
          </li>
        {% endfor %}
      </ul>
    </div>
  {% endif %}
{%- endmacro %}


{% macro examples(examples_list, id) %}
  {% for example in examples_list %}
    {% set group = ['examples', id, loop.index]|join('_') if example.rendered else null %}
    {% set code = code_block(
      language=example.type,
      content=example.code|escape|safe
      ) %}

    <div data-sassdoc-example="{{ group or 'simple' }}">
      {% if example.rendered %}
        {% set input_id = [group, example.type]|join('_') %}
        {% set output_id = [group, 'output']|join('_') %}

        <div data-sassdoc="example-tabs">
          {{ utility.tab(
            id=input_id,
            group=group,
            content=example.type
            ) }}
          {{ utility.tab(
            id=output_id,
            group=group,
            content='output',
            active=true
            ) }}
        </div>

        {{ utility.tab_panel(
          id=input_id,
          group=group,
          content=code|safe,
          class='input'
          ) }}

        {{ utility.tab_panel(
          id=output_id,
          group=group,
          content=example.rendered|safe,
          active=true,
          class='output'
          ) }}
      {% else %}
        <div data-sassdoc="example-tabs">
          <span data-sassdoc="example-tab-solo">{{ example.type }}</span>
        </div>
        <div data-sassdoc-example-panel="{{ example.type }}">
          {{ code|safe }}
        </div>
      {% endif %}

      {% if example.description %}
        <p data-sassdoc="example-description">{{ example.description|safe }}</p>
      {% endif %}
    </div>
  {% endfor %}
{% endmacro %}
