{% macro code_block(language=none, content=none) %}
  {% set content = content if (content != none) else caller() %}
  {% set language = ['lang', language]|join('-') if language != none %}
  <pre data-sassdoc="hljs"><code{% if language %} class="{{ language }}"{% endif %}>{{ content }}</code></pre>
{% endmacro %}

{% macro source(item, type) %}
{%- call code_block(language='scss') -%}
  {%- if (type == 'variable') -%}
    {{ scss_variable(item) }}
  {%- elif (type == 'css') -%}
    {{ scss_css(item) }}
  {%- elif (type == 'function') or (type == 'mixin') -%}
    {{ scss_function_or_mixin(item) }}
  {%- endif -%}
{%- endcall -%}
{% endmacro %}

{% macro scss_variable(item) -%}
${{ item.context.name }}: {{ item.context.value }}{% if item.context.scope != 'private' %} !{{ item.context.scope }}{% endif %};
{%- endmacro %}

{% macro scss_function_or_mixin(item) -%}
@{{ item.context.type }} {{ item.context.name }}{% if item.parameter %}(
{%- for parameter in item.parameter %}
  ${{ parameter.name }}{% if parameter.type|lower == "arglist" %}...{% elif parameter.default %}: {{ parameter.default }}{% endif %}{% if not loop.last %},{% endif %}
{%- endfor %}
){% endif %} { /* ... */ }
{%- endmacro %}

{%- macro scss_css(item) -%}
{{ item.context.name }} {
  {{ item.context.value }}
}
{%- endmacro -%}

{% macro display(data, name, specs) %}
  {% set type = specs[0] %}
  {% set location = specs[1] or name %}

  {% if type == 'color-palette' %}
    {{ color_palette(data[location]) }}
  {% elif type == 'font-specimen' %}
    {{ font_specimen(location, data[location]) }}
  {% endif %}
{% endmacro %}

{% macro color_palette(data) %}
<div data-sassdoc="color-palette">
  {% for name, value in data %}
    <div data-sassdoc-color="{{ name }}">
      <div data-sassdoc="color-swatch" style="background-color: {{ value }};"></div>
      <div data-sassdoc="color-info">
        <strong data-sassdoc="color-name">{{ name }}</strong>
        <span data-sassdoc="color-value">{{ value }}</span>
      </div>
    </div>
  {% endfor %}
</div>
{% endmacro %}

{% macro font_specimen(name, data) %}
  <div data-sassdoc-font="{{ name }}">
    <div data-sassdoc="font-family">
      <h3 data-sassdoc="font-type">{{ name }}</h3>
      {% if data.stack %}
        <div data-sassdoc="font-stack">
          {% if data.name %}
            {% if data.source %}
              <a href="{{ data.source }}" data-sassdoc="font-name">{{ data.name }}</a>,
            {% else %}
              <span data-sassdoc="font-name">{{ data.name }}</span>,
            {% endif %}
          {% endif %}
          {% for item in data.stack %}
            {{ item }}{% if not loop.last %},{% endif %}
          {% endfor %}
        </div>
      {% endif %}
    </div>

    {% set weight_options = [
      '100', '200', '300', '400', '500', '600', '700', '800', '900', 'bold'
    ] %}
    {% set style_options = [
      'italic', 'oblique'
    ] %}

    {% for options, value in data %}
      {% set options = options|split(' ') %}
      {% set face = value if (options[0] in weight_options or options[0] in style_options) else none %}
      {% set weight = 'normal' %}
      {% set style = 'normal' %}

      {% for value in options %}
        {% set weight = value if (value in weight_options) else weight %}
        {% set style = value if (value in style_options) else style %}
      {% endfor %}

      {% if face %}
        <div data-specimen-face="{{ face }}">
          <h4 data-sassdoc="specimen-title">{{ face }}</h4>
          {% for size, length in data['preview-sizes'] %}
            <div data-specimen-size="{{ size }}">
              <div data-sassdoc="specimen-size">
                {% set format_length = ['0', length]|join('') if (length[0] == '.') else length %}
                {{ size }} · {{ format_length }}
              </div>
              <div data-sassdoc="specimen-text" style="font-size: {{ length }}; font-style: {{ style }}; font-weight: {{ weight }};">
                {{ lorem('body' if (size == 'root') else 'title') }}
              </div>
            </div>
          {% endfor %}
        </div>
      {% endif %}
    {% endfor %}
  </div>
{% endmacro %}

{% macro lorem(length) %}
  {% if length == 'title' %}
    Pack my box with five dozen liquor jugs.
  {% elif length == 'body' %}
    A wonderful serenity has taken possession of my entire soul, like these sweet mornings of spring which I enjoy with my whole heart. I am alone, and feel the charm of existence in this spot, which was created for the bliss of souls like mine. I am so happy, my dear friend, so absorbed in the exquisite sense of mere tranquil existence, that I neglect my talents. I should be incapable of drawing a single stroke at the present moment; and yet I feel that I never was a greater artist than now.
  {% endif %}
{% endmacro %}

{% macro icons(list) %}
<div data-sassdoc="icon-preview">
  {% for icon in list %}
    <div data-sassdoc-icon="{{ icon.name }}">
      {{ icon.rendered|safe }}
      <div data-sassdoc="icon-info">
        <div data-sassdoc="icon-name">{{ icon.name }}</div>
        <div data-sassdoc="icon-path">{{ icon.path }}</div>
      </div>
    </div>
  {% endfor %}
</div>
{% endmacro %}
