// JSON Export Tests
// =================

@use 'true';
@use '../../../scss/utilities/json-api' as *;
@use '../../../scss/utilities/json-encode' as json;

// Herman Export
// -------------
@include true.describe('export [mixin]') {
  @include true.it('Exports JSON-encoded maps') {
    $map: (
      1: (
        a,
        b,
        c,
      ),
      'two': 3em,
      (three four): 'hello "world"',
    );

    @include true.assert {
      @include true.output {
        @include export($map);
      }

      @include true.expect {
        /*! json-encode: #{json.encode($map)} */
      }
    }
  }
}
