// JSON Encoding Tests
// ===================

@use 'true';
@use '../../../scss/utilities/json-encode' as *;

// JSON Encode
// -----------
@include true.describe('encode [function]') {
  @include true.it('returns a boolean without encoding') {
    @include true.assert-equal(encode(true), true);
  }

  @include true.it('returns a string for null values') {
    @include true.assert-equal(encode(null), 'null');
  }

  @include true.it('encodes each value in a list') {
    @include true.assert-equal(encode(one two 3), '["one", "two", 3]');
  }

  @include true.it('encodes each key/value in a map') {
    $map: (
      1: (
        a,
        b,
        c,
      ),
      'two': 3em,
      'three' 'four': 'hello "world"',
    );

    @include true.assert-equal(
      encode($map),
      '{"1": ["a", "b", "c"], "two": "3em", "three four": "hello \\"world\\""}'
    );
  }

  @include true.it('returns a string value of unitless numbers') {
    @include true.assert-equal(encode(3), '3');
  }

  @include true.it('returns quoted color strings') {
    $hex: #333;
    $rgba: rgba(0, 255, 130, 0.75);
    $hsla: hsla(120, 50%, 80%, 0.75);

    @each $color in ($hex, $rgba, $hsla) {
      @include true.assert-equal(encode($color), '"#{$color}"');
    }
  }

  @include true.it('returns quoted and escaped strings') {
    @include true.assert-equal(encode('hello "world"'), '"hello \\"world\\""');
  }

  @include true.it('returns escaped backslashes in strings') {
    @include true.assert-equal(encode('hello\\world'), '"hello\\\\world"');
  }
}

// Encode List
// -----------
@include true.describe('encode-list [function]') {
  @include true.it('encodes each value in a list') {
    @include true.assert-equal(encode-list(one two 3), '["one", "two", 3]');
  }
}

// Encode Map
// ----------
@include true.describe('encode-map [function]') {
  @include true.it('encodes each key/value in a map') {
    $map: (
      1: (
        a,
        b,
        c,
      ),
      'two': 3em,
      three four: 'hello "world"',
    );

    @include true.assert-equal(
      encode-map($map),
      '{"1": ["a", "b", "c"], "two": "3em", "three four": "hello \\"world\\""}'
    );
  }
}

// Encode Number
// -------------
@include true.describe('encode-number [function]') {
  @include true.it('returns a string value of unitless numbers') {
    @include true.assert-equal(encode-number(3), '3');
  }

  @include true.it('returns a scare-quoted value of lengths') {
    @include true.assert-equal(encode-number(3em), '"3em"');
  }
}

// Herman Quote
// ------------
@include true.describe('quote [function]') {
  @include true.it('converts values to strings') {
    @include true.assert-equal(quotes(1em), '"1em"');

    @include true.assert-equal(quotes('one' 'two' 'three'), '"one two three"');
  }
}

// String Replace
// --------------
@include true.describe('escape-quotes [function]') {
  @include true.it('replaces a single sub-string') {
    @include true.assert-equal(
      escape-quotes('hello "world"'),
      'hello \\"world\\"'
    );
  }
}

// Escape Backslashes
// ------------------
@include true.describe('escape-backslashes [function]') {
  @include true.it('escapes backslashes in string') {
    @include true.assert-equal(
      escape-backslashes('hello\\world'),
      'hello\\\\world'
    );
  }
}
